#order-summary {
  h5 {
    height: 25px;
    font-family: Roboto;
    @include font-size(25px);
    text-transform: capitalize;
    text-align: left;
    color: $basic-gray;
  }
  .order-summary__text-muted,
  .item-key {
    opacity: 0.7;
    font-family: Roboto;
    @include font-size(13px);
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: $dark-70;
  }
  .order-summary__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 17px;
    span {
      flex: 0 50%;
    }
    .item-value {
      text-align: end;
    }

    .h-seperator {
      background: #ececec;
      height: 1px;
      margin-bottom: 16px;
      margin-top: 17px;
    }
  }
  .order-summary__header {
    height: 66px;
    .h-seperator {
      position: absolute;
      background: $light-gray;
      height: 2px;
      left: 0;
      top: 84px;
    }
  }
  .btn-primary {
    width: 100%;
    border-radius: side-values(0 0 20px 20px) !important;
    text-align: right;
    text-transform: capitalize;
  }
  button {
    @include font-size(20px);

    i {
      padding-left: 7px;
    }
  }
}
