#Orders-container{
  .card{
    background: none;
  }
  .Orders-search{
    @include padding-left(0px);
    display: flex;
    margin-bottom: 16px;
    .select-input{
      .css-10nd86i {
        width: 100%;
        background-color: $white;
        border-radius: side-values(20px 0 20px 20px) !important;
        position: relative !important;
        padding: 10px;
        .select__value-container{
          width: 10px;
        }
      }
      label
      sub,
      br{
        display: none;
      }
    }
    .RenderField{
      margin-top: 20px;
      border-radius: side-values(0 20px 20px 20px);
      label{
        display: none;
      }
      input{
        border-radius: side-values(0 20px 20px 20px);
        border: none;
      }
    }
    .btn-div{
      display: flex;
      .btn-light{
        padding: 0px;
        background: none;
        i{
          opacity: 0.5;
          font-size: 16px;
        }
        .icon-shipping{
         font-size: 20px !important;
        }
        span{
          font-family: Roboto;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          @include margin-left(3px);
        }
      }
      .seperator{
        margin-top: 25px;
        width: 1px;
        height: 19px;
        @include margin-left(10px);
        @include margin-right(10px);
      }
    }
  }
  .seperator{
    width: 100%;
    height: 2px;
    opacity: 0.2;
    margin-bottom: 26px;
  }
  .table{
    thead{
      tr{
        text-align: center;
        th{
          opacity: 0.7;
          font-family: Roboto;
          @include font-size(13px);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
        }
      }
    }
    tbody{
      background: $white;
    border-bottom-left-radius: 10px;
      tr{
        text-align: center;
        height: 2px;
        td{
          font-family: Roboto;
          @include font-size(15px);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $black;
          .btn-light{
            background: none;
            i{
              opacity: 0.5;
              @include font-size(15px);
            }
            span{
              @include margin-left(5px);
              opacity: 0.5;
              font-family: Roboto;
              @include font-size(13px);
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: left;
            }
          }
        }
        .icon{
          display: flex;
          margin-top: 10px;
          @include margin-left(25%);
        }
        .icon-clear:before{
          @include margin-right(5px);
          @include font-size(16px);
        }
        .icon-time:before{
          @include margin-right(5px);
          @include font-size(16px);
        }
        .icon-return:before{
          @include margin-right(5px);
          @include font-size(16px);
        }
        .icon-shipping:before{
          @include margin-right(5px);
          @include font-size(22px);
        }
      }
    }
    tr:last-child td:first-child {
        border-bottom-left-radius: 20px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 20px;
    }
    tr:first-child td:first-child{
      border-top-left-radius: 20px
    }
    tr th{
      padding-bottom: 10px;
    }
  }
}
