#setting {
  position: relative;

  #header {
    height: 105px;
    color: $white;

    .header-container {
      @extend .container-fluid;
      position: relative;
      padding-top: 20px;
      span {
        @include font-size(50px);
        font-weight: 500;
        text-align: left;
      }
    }
  }

  #setting-details {
    
  }
}
