.side-bar{
  div{
    div{
      .btn-primary{
        display: none;
      }
      padding: 20px;
      padding-top: 15%;
      padding-left: 0px;
      padding-right: 0px;
      &:first-child{
        background: $white;
      }
      .list-group-items{
        padding: 0px;
        padding-top: 0px;
        .list-group{
          padding: 0px;
          padding-top: 0px;
        }
      }
      .btn-back{
        background: none;
        border: 0px;
        width: 100%;
        border-bottom: 1px solid #c5c5c5;
        padding: 20px;
        text-align: $left;
        span{
          @include margin-left(5px);
        }
      }
    }
  }
}

.none-active{
  div{
    display: none;
    div{
      padding-top: 15%;
      div{
        width: 0px !important;
      }
    }
  }
}

.side-bar-compnent-btn{

    .btn-primary{
      display: block;
    }

      .none-active-btn{
        display: none;
      }
}
