.banner-250 {
  width: 250px;
  height: 250px;
  text-align: center;
  margin-top: 30px;
  background: $white;
  position: relative;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.live-chat {
  @include text-left;
  background: $light-gray;
  @extend .position-fixed;
  bottom: 0;
  #{$right}: 50px;
  z-index: 999;
  width: 151px;
  border-radius: $border-radius-base $border-radius-base 0 0;
  @include transition(all, 0.3s, ease);
  @include nav-sm-media {
    width: 48px;
    background: transparent;
    #{$right}: 15px;
  }
  img {
    max-width: 48px;
    display: inline-block;
  }
  p {
    display: inline-block;
    @include font-size(12px);
    position: relative;
    margin-bottom: 0;
    top: 7px;
    @include nav-sm-media {
      display: none;
    }
    span {
      display: block;
    }
  }
}
.overflow-hidden,
.overflow-hidden-search {
  .live-chat {
    @include opacity(0);
  }
}
.product-options {
  margin-top: 15px;
  border-bottom: 1px solid $dark-gray;
  width: 100%;
  .d-table-cell {
    padding: 5px 10px;
    @include font-size(15px);
    border-top: 1px solid $dark-gray;
    @include media-breakpoint-down(xs) {
      @include font-size(14px);
    }
    .icon-checked:before {
      color: $brand-color;
      top: 3px;
    }
    &:first-child {
      text-transform: capitalize;
      border-#{$right}: 1px solid $dark-gray;
      width: 30%;
      span {
        @include opacity(0.5);
      }
    }
  }
}
.products-brand {
  ul {
    margin-top: -15px;
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      margin-top: -2px;
      margin-right: -2px;
      margin-left: -2px;
    }
  }
  h3 {
    @include font-size(20px);
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 400;
    @include media-breakpoint-up(lg) {
      @include font-size(25px);
    }
  }
  li {
    margin-top: 15px;
    @include media-breakpoint-down(md) {
      padding: 0 2px;
      margin-top: 2px;
    }
  }
  a {
    display: block;
    padding: 10px 20px;
    background: $white;
    @include media-breakpoint-down(md) {
      padding: 5px 10px;
    }
    &:hover {
      background: $light-gray;
    }
  }
}
.banner {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  margin: 0 auto;
}
.banner-728 {
  max-width: 728px;
  height: 90px;
  background: $white;
  text-align: center;
}
.div-style {
  @include border-radius-div();
  overflow: hidden;
}
.hero {
  @extend .position-relative;
  img {
    width: 100%;
  }
}
.hero-content {
  @extend .position-absolute;
  @include if-rtl{
    left: -113px;
  }
  width: 100%;
  z-index: 2;
  h1 {
    color: $white;
    @include font-size(50px);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    line-height: 38px;
    @include media-breakpoint-down(lg) {
      font-size: 2.5rem;
    }
  }
}
.input-sec {
  background: $white;
  @include border-radius-div();
  padding: 20px 15px 1px;
  .has-float-label,
  .float-label {
    margin-bottom: 20px;
    &.error,
    &.warning {
      margin-bottom: 40px;
    }
  }
  .has-float-label {
    @include border-radius-div();
    input {
      @include border-radius-div();
    }
  }
  .select__control {
    @include border-radius-div();
  }
  .form-row {
    .col {
      &:last-child {
        .has-float-label,
        .select__control {
          border-top-#{$left}-radius: 0;
          border-bottom-#{$left}-radius: 0;
          input {
            border-top-#{$left}-radius: 0;
            border-bottom-#{$left}-radius: 0;
          }
        }
      }
      &:first-child {
        .has-float-label,
        .select__control {
          border-bottom-#{$right}-radius: 0;
          input {
            border-bottom-#{$right}-radius: 0;
          }
        }
      }
    }
  }
}
.submit-row {
  padding-top: 30px;
  display: flex;
  align-items: center;
  p {
    @include font-size(15px);
    margin-bottom: 0;
    a {
      color: $brand-color;
    }
  }
  .btn {
    height: 50px;
    @include box-shadow();
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-size(20px);
    @include media-breakpoint-down(md) {
      width: 100%;
      justify-content: flex-end;
      margin: 20px 0 50px;
    }
    &.btn-primary {
      min-width: 150px;
    }
    i {
      @include font-size(23px);
      height: 23px;
    }
  }
}

//email email-validation

.email-validate {
  .validate-text,
  .icon-alert {
    @include transition(all, 0.5s, ease);
    @include opacity(0);
    height: 0;
  }
  [class^='icon-'] {
    position: absolute;
    #{$right}: 15px;
    @include font-size(22px);
    height: 22px;
    top: 50%;
    margin-top: -11px;
  }
  .validate-text {
    padding-#{$right}: 15px;
    height: auto;
    text-align: #{$right};
    padding-top: 10px;
    padding-#{$left}: 10px;
  }
  &.warning,
  &.true {
    [class^='icon-'] {
      @include opacity(1);
      display: block;
    }
  }
  &.warning {
    input {
      box-shadow: 0px 1px 1px 0px #e8d59a;
    }
    input:-webkit-autofill {
      box-shadow: inset 0 0 0 30px $light-gray, 0px 1px 1px 0px #e8d59a !important;
    }
    [class^='icon-'] {
      color: #856404;
    }
    .validate-text {
      color: #856404;
      @include opacity(1);
      display: block;
    }
  }
  &.true {
    input {
      box-shadow: 0px 1px 1px 0px rgba(48, 213, 118, 0.7);
    }
    input:-webkit-autofill {
      box-shadow: inset 0 0 0 30px $light-gray, 0px 1px 1px 0px rgba(48, 213, 118, 0.7) !important;
    }
    [class^='icon-'] {
      color: #30d576;
    }
    .validate-text {
      color: #30d576;
    }
  }
}
[class*='-landing'] {
  .gray-bg.pt-sec {
    padding-top: 40px;
  }
}
.accessories-cat {
  [class*='col-'] {
    margin-bottom: 15px;
    + [class*='col-'] {
      padding-#{$left}: 0;
      @include media-breakpoint-down(sm) {
        padding-#{$left}: 15px;
      }
    }
  }
  a {
    display: block;
    background: #f5f5f5;
    height: 100%;
    &:hover {
      figcaption {
        text-decoration: underline;
      }
    }
  }
  figcaption {
    display: block;
    @include font-size(25px);
    text-transform: uppercase;
    flex: 1;
    padding-bottom: 20px;
    line-height: 1;
    padding-#{$left}: 25px;
    @include padding-right(25px);
    @include media-breakpoint-down(md) {
      @include font-size(20px);
      padding-bottom: 15px;
      padding-#{$left}: 15px;
      @include padding-right(15px);
    }
    @include media-breakpoint-down(sm) {
      @include font-size(18px);
    }
  }
  figure {
    margin-bottom: 0;
  }
  .cables {
    a {
      border-top-left-radius: $border-radius-base;
      overflow: hidden;
      padding-bottom: 57px;
      @include media-breakpoint-down(md) {
        padding-bottom: 35px;
      }
    }
    img {
      width: 100%;
    }
    figcaption {
      position: absolute;
      bottom: 0;
    }
    figure {
      width: 100%;
    }
  }
  .refrigerator {
    text-align: center;
    img {
      margin: 0 auto;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    figure {
      width: 100%;
      padding: 0 15px;
    }
    @include media-breakpoint-down(md) {
      figcaption {
        padding-top: 15px;
      }
      figure {
        padding: 0 15px 10px;
      }
    }
    @include media-breakpoint-down(sm) {
      padding-#{$right}: 7.5px;
      a {
        position: relative;
        padding-bottom: 35px;
      }
      figcaption {
        position: absolute;
        bottom: 0;
      }
      figure {
        padding-top: 15px;
      }
    }
  }
  .car-mats {
    a {
      padding-bottom: 57px;
      position: relative;
      @include media-breakpoint-down(md) {
        padding-bottom: 35px;
      }
    }
    figure {
      padding-#{$left}: 20px;
      width: 100%;
      overflow: hidden;
      img {
        #{$right}: -20px;
        margin-top: 5px;
        width: 100%;
        position: relative;
        @include media-breakpoint-down(md) {
          #{$right}: 0;
        }
      }
    }
    figcaption {
      text-align: #{$right};
      z-index: 1;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      padding-#{$left}: 7.5px !important;
      figure {
        padding-#{$left}: 0;
        padding-top: 15px;
      }
      figcaption {
        text-align: center;
      }
    }
  }
  .bodywork,
  .children-seats {
    a {
      display: flex;
      align-items: center;
    }
    figcaption {
      padding-bottom: 0;
      line-height: 1.5;
    }
  }
  .bodywork {
    a {
      border-bottom-#{$left}-radius: $border-radius-base;
      @include media-breakpoint-down(sm) {
        border-bottom-#{$left}-radius: 0;
      }
    }
    figcaption {
      span {
        display: block;
      }
    }
    figure {
      padding-top: 30px;
      @include media-breakpoint-down(sm) {
        padding-top: 15px;
      }
    }
  }
  .children-seats {
    a {
      border-bottom-#{$right}-radius: $border-radius-base;
      @include media-breakpoint-down(sm) {
        margin-bottom: 0 !important;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-#{$left}: 10px;
        border-bottom-#{$left}-radius: $border-radius-base;
      }
    }
    figcaption {
      text-align: #{$right};
    }
  }
}
.vin-modal{
  @include media-breakpoint-down(lg){
    max-width: calc(100% - 30px);
  };
  .modal-header{
    padding-top: 20px;
    position: relative;
    border-bottom: 1px solid $very-light-grey;
      h5{
        text-transform: capitalize;
        display: block;
        @include font-size(20px);
        line-height: 0.8;
        span{
          padding-#{$left}: 5px;
          @include font-size(15px);
          @include opacity(0.6);
          @include media-breakpoint-down(md){
            display: none;
          }
        }
      }
      .close{
        position: absolute;
        top: 0;
        #{$right}: 0;
      }
  }
  .make{
    min-width: 230px;
  }
  form{
    [class*='col']:not(:first-child){
      padding-#{$left}: 0;
      @include media-breakpoint-down(sm){
        padding-#{$left}: 15px;
      };
    }
    [class*='col']:not(:last-child){
      padding-#{$right}: 5px;
      @include media-breakpoint-down(sm){
        padding-#{$right}: 15px;
        padding-bottom: 10px;
      };
    }
    [class*='col']:first-child{
      .select__control{
          border-top-#{$left}-radius: $border-radius-base;
          border-bottom-#{$left}-radius: $border-radius-base;
          @include media-breakpoint-down(sm){
            border-bottom-#{$left}-radius: 0;

          }
      }
    }
    [class*='col']:nth-last-child(2){
      .RenderField, .form-control{
          border-bottom-#{$right}-radius: $border-radius-base;
      }
      @include media-breakpoint-down(sm){
        .has-float-label, .form-control{
          border-bottom-#{$left}-radius: $border-radius-base !important;

        }
      };
    }
  }
  .col-lg-auto:last-child{
    @include media-breakpoint-down(md){
      padding-left: 15px;
      padding-right: 15px;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      padding-top: 20px;
    };
  }
  .VIN-info{
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    @include media-breakpoint-up(sm){
      padding-top: 5px;
      display: flex;
      justify-content: space-between;
    };
    p{
      display: flex;
      margin-bottom: 0;
      @include font-size(13px);
      color: $light-charcoal-grey;
    }
    .id-img{
      cursor: pointer;
      @include media-breakpoint-down(xs){
        margin-top: 10px;
      };
      i{
        height: 20px;
        @include font-size(23px);
        margin-#{$right}: 5px;
        &:before{
          top: -3px;
        }
      }
    }
  }
  .actions{
    @include media-breakpoint-down(sm){
      display: block !important;
    };
    .btn{
      display: flex;
      height: 50px;
      align-items: center;
      @include font-size(17px);
    }
    .col-auto{
      padding-#{$right}: 10px !important;
      .btn{

        border-top-#{$right}-radius: 0 !important;
        border-bottom-#{$right}-radius: 0 !important;
      }
    }
    .col{
      @include media-breakpoint-down(sm){
        padding-#{$left}: 0 !important;
        .btn{
          border-bottom-#{$left}-radius: 0 !important;
          width: 100%;
          justify-content: flex-end;
        }
      }
    }
  }
  .veh-main-info{
    padding-top: 20px;
    padding-bottom: 10px;
    p{
      border-#{$left}:2px solid $brand-color;
      padding-#{$left}: 7px;
      @include font-size(22px);
      line-height: 0.9;
      margin-bottom: 0;
      label{
        display: block;
        @include font-size(13px);
        margin-bottom: 7px;
        @include opacity(0.6);
      }
    }
    .btn-gray-secondary{
      @include font-size(15px);
      display: flex;
      align-items: center;
      padding: 7px 10px;
      i{
        padding-#{$right}: 5px;
        @include font-size(20px);
        height: 23px;
        overflow: hidden;
        &:before{
          top: -1px;
        }
      }
    }
  }
  .vin-input{
    .RenderField,
    .form-control{
      @include border-radius-div;
    }
    .VIN-info{
      padding-top: 10px;
      padding-bottom: 20px;
    }
  }
  .two-actions{
    display: flex;
    justify-content: flex-end;
    .btn-primary{
      border-bottom-#{$left}-radius: 0 !important;
    }
  }
  .year{
    @include media-breakpoint-up(lg){
      max-width: 120px;
    };
  }
  .garage-dropdown{
    border-top-width: 1px;
    border-color: $dark-gray;
  }
}
.garage-dropdown{
  padding-top: 0;
  .cached,
  .saved{
    padding: 15px 15px 0;
    @include media-breakpoint-up(md){
      min-width: 550px;
    };
  }
  .media{
    padding-bottom: 12px;
    align-items: center;
    h5{
      @include font-size(17px);
      font-weight: 500;
      margin-bottom: 0;
    }
    a{
      @include font-size(14px);
      display: flex;
      align-items: center;
      line-height: 1;
      overflow: visible !important;
      i{
        font-size: 1rem !important;
        height: 16px;
        margin-#{$right}: 5px !important;
        &:before{
          top: -1px;
        }
      }
    }
  }
  [class*='icon-vehicle']{
    margin-#{$right}: 7px;
    height: 31px;
    @include opacity(0.5);
  }
  .icon-vehicle{
    @include font-size(28px);
  }
  .icon-vehicle-history{
    @include font-size(45px);
    &:before{
      top: -11px;
    }
  }
  .vehic-list{
    > div{
      border-top: 1px solid $dark-gray;
      padding-right: 15px;
      padding-left: 15px;
      p{
        @include font-size(15px);
        margin-bottom: 0;
        line-height: 1.3;
        span{
          display: block;
          @include font-size(13px);
        }
      }
      > a{
        padding-top: 15px;
        padding-bottom: 15px;
        &:hover{
          background: $light-gray;
        }
      }
      .radio-custom{
        width: 15px;
        display: flex;
        padding-top: 2px;
      }
    }
  }
  .vec-actions{
    display: flex;
    align-items: center;
  }
  .btn{
    padding: 6px 12px;
    display: flex;
    align-items: center;
    @include font-size(15px);

    .icon-catalog{
      @include font-size(21px);
      height: 18px;
      margin-#{$right}: 5px;
      &:before{
        @include if-ltr{
          top: -4px;
        };
        @include if-rtl{
          top: -1px;
        };
      }
    }
  }
  .link{
    padding-#{$left}: 10px;
    &:hover{
      text-decoration: underline;
    }
  }
  .saved{
    .btn-gray{
      @include nav-lg-media{
        color: $brand-color !important;
      };
    }
    .link{
      color: $basic-gray;
    }
    .icon-trash{
      @include font-size(22px);
      height: 22px;
      &:before{
        top: 3px;
      }
    }
  }
  .cached{
    .link{
      @include font-size(15px);
      color: $brand-color;
    }
    .media{
      a{
        @include opacity(0.4);
        &:hover{
          @include opacity(1);

        }
      }
    }
  }
  .saved + .cached{
    background: $light-gray;
    margin-top: 15px;
    border-top: 1px solid $dark-gray;
    .row{
      &:hover{
        background: $dark-gray;
      }
    }
  }
  .vec-list-actions{
    display: flex;
    align-items: center;
    border-top: 1px solid $dark-gray;
    padding: 15px;
    .main-action{
      flex-basis: 0;
      flex-grow: 1;
      display: flex;
    }
    .btn-gray{
      @include font-size(15px);
      display: inline-flex;
      align-items: center;
      .icon-add-vehicle{
        @include font-size(39px);
        margin-#{$right}: 5px;
        @include if-ltr{
          height: 25px;
        };
        @include if-rtl{
          height: 26px;
        };
        &:before{
          @include if-ltr{
            top: -11px;
          };
          @include if-rtl{
            top: -7px;
          };
        }
      }
    }
    .link{
      @include font-size(15px);
      @include opacity(0.7);
      display: flex;
      align-items: center;
      line-height: 1;
      i{
        @include font-size(16px);
        margin-#{$right}: 5px;
        height: 16px;
        display: inline-block;
      }
      &:hover{
        @include opacity(1);
        text-decoration: none;
      }
    }
  }
  .empty-vehic{
    padding: 1rem 1rem 0;
    text-align: center;
    .btn{
      display: inline-flex;
      padding: 10px 15px;
      @include font-size(17px);
      margin-bottom: 0.6rem;
      i{
        @include font-size(20px);
        margin-#{$right}: 5px;
      }
    }
    p{
      min-width: 300px;
    }
  }
}
.select-vechile-form,
.select-white{
  .select__control{
    background: $white;
    border-radius: 0;
  }
  .float-label{
    &:first-child{
      .select__control{
        border-top-#{$left}-radius: $border-radius-base;
      }
    }
    &:nth-child(3){
      .select__control{
        border-bottom-#{$right}-radius: $border-radius-base;
      }
    }
    @include media-breakpoint-up(md){
      padding-#{$right}: 1px;
      padding-#{$left}: 0;
      &:first-child{
        padding-#{$left}: 15px;
        .select__control{
          border-bottom-#{$left}-radius: $border-radius-base;
        }
      }
    };
    @include media-breakpoint-down(sm){
      margin-bottom: 3px;
      &:nth-child(3){
        .select__control{
          border-bottom-#{$left}-radius: $border-radius-base;
        }
      }
    };
  }
  .float-label label{
    color: $basic-gray;
  }
  button{
    width: 100%;
    min-width: 105px;
    justify-content: center;
    @include font-size(20px);
    display: flex;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    @include media-breakpoint-down(sm){
      margin-top: 12px;
      height: 50px;
    }
  }
  @include media-breakpoint-down(sm){
    .float-label .select-input{
      height: 50px;
    }
  };
}
.vin-popover{
  > p{
    position: absolute;
    #{$right}: 20px;
    top: 15px;
    z-index: 2;
    margin-bottom: 0;
    cursor: pointer;
    i{
      @include flip-h-ltr;
      height: 20px;
      @include font-size(23px);
      &:before{
        top: -3px;
      }
    }
  }
}
.popover.vin {
  min-width: 270px !important;
  min-height: 150px !important;
  .popover-body{
    padding: 5px;
    img{
      width: 100%;
    }
  }
}
.add-vech-model{

  @include media-breakpoint-down(md){

    [class*='col']:not(:first-child){
      padding-#{$left}: 15px;
    }
    [class*='col']:not(:last-child){
      padding-#{$right}: 15px;
      padding-bottom: 10px;
    }
    [class*='col']:first-child{
      .select__control{
        border-bottom-#{$left}-radius: 0;
      }
    }
    [class*='col']:nth-last-child(2){
      .has-float-label, .form-control{
        border-bottom-#{$left}-radius: $border-radius-base !important;
      }
    }
    .VIN-info{
      padding-top: 10px;
      padding-bottom: 20px;
    }
  }
}
