.btn {
  padding: 10px 15px;
  @include link-border-radius;
  @include transition(all, 0.5s, ease);
  @include font-size(20px);
  cursor: pointer;
  font-weight: 400;
  display: inline-block;
  border-width: 0;
  @include if-rtl{
    font-weight: 500;
  };
  i {
    display: inline-block;
    @include transition(all, 0.5s, ease);
  }
}
.btn-primary {
  border-style: none;
  background: $brand-color;
  color: $white;
  @include font-size(19px);
  &:hover,
  &:focus {
    background: darken($brand-color, 10%);
  }
  i{
    @include font-size(23px);
    height: 25px;
    &.icon-arrow-right{
      margin-#{$left}: 10px;
    }

  }
  &:hover{
    color: $white;

  }
}
.btn-gray {
  background: $light-gray;
  @include font-size(13px);
  text-transform: capitalize;
  &:hover {
    background: $dark-gray;
  }
}
.btn-gray-secondary {
  background: $dark-gray;
  &:hover {
    background: darken($dark-gray, 3%);
  }
}
.btn-secondary {
    border-style: none;
    border: 1px solid darken($light-gray, 3%);
    background: $white;
    color: $basic-gray;
    &:hover{
      background: $light-gray;
    }
  }
.btn-light{
  background-color: $basic-white;
}
.btn-facebook {
  background: $white;
  border-radius: corner-values(0 0 0 $border-radius-base) !important;
}
.btn-google {
  background: $white;
  border-radius: corner-values(0 0 $border-radius-base 0) !important;
  height: 100%;
  img {
    width: 25px;
  }
}
.btn-link {
  color: #37363c;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  @include padding-right(0);
  cursor: pointer;
}
.delete-btn {
  @include transition(all, 0.5s, ease);
  @include opacity(0.6);
  &:hover,
  &:focus {
    color: $brand-color;
  }
  i {
    @include font-size(18px);
    height: 18px;
  }
  span {
    @include font-size(13px);
    position: relative;
    top: -2px;
    margin-#{$left}: 2px;
  }
}
.white-btn{
  background: $white;
  &:hover,
  &:focus{
    background: $light-gray;
  }
  + .white-btn{
    border-bottom-#{$left}-radius: 0 !important;
  }
  &:first-child:not(:last-child){
    border-top-#{$right}-radius: 0 !important;
    border-bottom-#{$right}-radius: 0 !important;
    margin-#{$right}: 1px;
  }
}
.btn-black{
  background: rgba(153, 129, 129, 0.4);
  color: $light-gray-2;
  // margin-right: 61.6px;
  &:hover{
    color: $light-gray-2;

    background: #000;
  }
}
.btn-gray-overlay{
  background: rgba(249, 249, 249, 0.2);
  color: $white;
  &:hover,
  &:focus{
    color: $white;

  }
}
