@include font-face($icon-font-name, $icon-path);
[class^='icon-']:before,
[class*=' icon-']:before,
.swiper-button-next::before,
.swiper-button-prev::before,
.breadcrumb-item + .breadcrumb-item::before,
.order-steps li:first-child::after,
.steps .active a::after {
  font-family: $icon-font-name !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.icon-add:before {
  content: '\e000';
}
.icon-add-card:before {
  content: '\e001';
}
.icon-add-location:before {
  content: '\e002';
}
.icon-add-vehicle:before {
  content: '\e003';
}
.icon-address:before {
  content: '\e004';
}
.icon-alert:before {
  content: '\e005';
}
.icon-apple:before {
  content: '\e006';
}
.icon-arrow-d:before {
  content: '\e007';
}
.icon-arrow-down:before {
  content: '\e009';
}
.icon-arrow-dwon:before {
  content: '\e008';
}
.icon-arrow-l:before {
  content: '\e00a';
}
.icon-arrow-left:before,
.swiper-button-prev::before {
  content: '\e00b';
}
.icon-arrow-r:before {
  content: '\e00c';
}
.icon-arrow-right:before,
.swiper-button-next::before {
  content: '\e00d';
}
.icon-back:before {
  content: '\e00e';
}
.icon-bank:before {
  content: '\e00f';
}
.icon-cart:before {
  content: '\e010';
}
.icon-cash:before {
  content: '\e011';
}
.icon-cash-payment:before {
  content: '\e012';
}
.icon-change-password:before {
  content: '\e013';
}
.icon-checked:before {
  content: '\e014';
}
.icon-clear:before {
  content: '\e015';
}
.icon-close:before {
  content: '\e016';
}
.icon-credit-card:before {
  content: '\e017';
}
.icon-current:before {
  content: '\e018';
}
.icon-custom-order:before {
  content: '\e019';
}
.icon-debit-card:before {
  content: '\e01a';
}
.icon-delivered-step:before {
  content: '\e01b';
}
.icon-delivery:before {
  content: '\e01c';
}
.icon-door:before {
  content: '\e01d';
}
.icon-edit:before {
  content: '\e01e';
}
.icon-email:before {
  content: '\e01f';
}
.icon-facebook:before {
  content: '\e020';
}
.icon-filter:before {
  content: '\e021';
}
.icon-garage:before {
  content: '\e022';
}
.icon-grid:before {
  content: '\e023';
}
.icon-heart:before {
  content: '\e024';
}
.icon-hide-password:before {
  content: '\e025';
}
.icon-home:before {
  content: '\e026';
}
.icon-less:before {
  content: '\e027';
}
.icon-linked-in:before {
  content: '\e028';
}
.icon-list:before {
  content: '\e029';
}
.icon-location:before {
  content: '\e02a';
}
.icon-minus:before {
  content: '\e02b';
}
.icon-payment:before {
  content: '\e02c';
}
.icon-play-store:before {
  content: '\e02d';
}
.icon-plus:before {
  content: '\e02e';
}
.icon-price-quote:before {
  content: '\e02f';
}
.icon-price-tag:before {
  content: '\e030';
}
.icon-pricing:before {
  content: '\e031';
}
.icon-product:before {
  content: '\e032';
}
.icon-reset:before {
  content: '\e033';
}
.icon-return:before {
  content: '\e034';
}
.icon-save-f:before {
  content: '\e035';
}
.icon-search:before {
  content: '\e036';
}
.icon-secure:before {
  content: '\e037';
}
.icon-send:before {
  content: '\e038';
}
.icon-share:before {
  content: '\e039';
}
.icon-shipping:before {
  content: '\e03a';
}
.icon-shopping-bag:before {
  content: '\e03b';
}
.icon-show-password:before {
  content: '\e03c';
}
.icon-sign-out:before {
  content: '\e03d';
}
.icon-sorting:before {
  content: '\e03e';
}
.icon-time:before {
  content: '\e03f';
}
.icon-to-up:before {
  content: '\e040';
}
.icon-trash:before {
  content: '\e041';
}
.icon-twitter:before {
  content: '\e042';
}
.icon-upload-photo:before {
  content: '\e043';
}
.icon-user:before {
  content: '\e044';
}
.icon-vehicle:before {
  content: '\e045';
}
.icon-vehicle-history:before {
  content: '\e046';
}
.icon-verify-number:before {
  content: '\e047';
}
.icon-wallet:before {
  content: '\e048';
}
.icon-whatsapp:before {
  content: '\e049';
}
.icon-more:before {
  content: '\e04a';
}
.minus {
  width: 11px;
  height: 2px;
  background: $basic-gray;
  display: block;
}
.seperator {
  width: 1px;
  background: #ccc;
  display: inline-block;
  vertical-align: middle;
}

.h-seperator {
  width: 100%;
  background: #ccc;
  display: inline-block;
  vertical-align: middle;
}

.ellipse {
  border-radius: 20px;
  width: 34px;
  height: 34px;
  @include box-shadow;
  background-color: $white;
}

.rounded-rectangle {
  border-radius: corner-values(20px 0 20px 20px) !important;
  @include box-shadow;
}

.group-shadow-div {
  position: absolute;
  width: 100%;
  #{$right}: 0;
  @include rounded-rectangle;
}

.radio-button {
  width: 20px;
  height: 20px;
  border-radius: 9px;
  background-color: $white;
}

.boarder-left-radius {
  @include boarder-left-radius;
}

.boarder-right-radius {
  @include boarder-right-radius;
}

.boarder-right-top-radius {
  @include boarder-right-radius(20px, 0);
}
.boarder-right-bottom-radius {
  @include boarder-right-radius(0, 20px);
}
.component-background {
  background: $light-gray;
  padding-top: 70px;
  padding-bottom: 70px;
}
.overflow-xy-h {
  overflow: hidden;
}

.quantity {
  @include border-radius-div;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    max-width: 200px;
    display: inline-flex;
  }
  @include media-breakpoint-down(xs) {
    max-width: 150px;
  }
  .input-group-prepend,
  input {
    margin-#{$right}: 3px;
    &:last-child {
      margin-#{$right}: 0;
    }
  }
  input {
    background: $light-gray !important;
    border-width: 0;
    text-align: center;
    box-shadow: none;
    height: 40px;
    color: $basic-gray;
    @include font-size(17px);
    @include padding-left(0);
    @include padding-right(0);
    text-align: center;
  }
  button {
    width: 41px;
    height: 40px;
    padding: 0;
    text-align: center;
    border-radius: 0 !important ;
    i {
      @include font-size(12px);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:disabled {
      cursor: not-allowed;
      i {
        @include opacity(0.8);
      }
      &:hover {
        background: $light-gray;
      }
    }
  }
}
.underline {
  text-decoration: underline;
}
.default-header-bg {
  @extend .d-flex;
  @extend .align-items-center;
  background: $default-header-bg;
  min-height: 105px;
  header {
    h1 {
      @include font-size(50px);
      color: $white;
      display: inline-block;
      margin-bottom: 0;
      @include media-breakpoint-down(lg) {
        @include font-size(40px);
        span {
          display: none;
        }
      }
      @include media-breakpoint-down(sm) {
        @include font-size(35px);
      }
    }
  }
}
//dropdown
.dropdown-toggle::after {
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
  color: $light-gray-2;
  @include opacity(0.6);
}
.dropdown-menu {
  @extend .box-shadow;
}
//shaimaa Updates
.swiper-button-prev,
.swiper-button-next {
  background-image: none !important;
}
//product list swiper-slide
.products-list {
  h3 {
    @include font-size(20px);
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 400;
    @include media-breakpoint-up(lg) {
      @include font-size(25px);
    }
  }
  .swiper-container {
    @include text-left;
    overflow: visible !important;
  }
  .swiper-wrapper,
  .swiper-slide {
    display: flex;
    align-items: stretch;
    height: auto;
  }
  .swiper-slide {
    &:first-child {
      border-radius: corner-values($border-radius-base 0 0 $border-radius-base);
      overflow: hidden;
    }
    &:last-child {
      border-radius: corner-values(0 $border-radius-base $border-radius-base 0);
      overflow: hidden;
    }
  }
  .card {
    border-width: 0;
    overflow: hidden;
    background: $white;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 1.25rem;
  }
  .card-img-top {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
  }
  .card-body {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  h5 {
    @include font-size(15px);
    font-weight: 400;
    height: 19px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .product-info {
    margin-bottom: 5px;
    li {
      @include font-size(14px);
      color: $light-charcoal-grey;
      @include fill-border-left(1px, darken($light-gray, 10%));
      line-height: 15px;
      padding-#{$left}: 0.5rem;
      strong {
        font-weight: 500;
        @include font-size(13px);
        color: $basic-gray;
      }
      &:first-child {
        padding-#{$left}: 0;
        @include margin-left(0);
        border-#{$left}-width: 0;
      }
    }
  }
  .rating {
    > div:first-child {
      display: inline-block;
      line-height: 11px;
    }
    > span {
      @include font-size(13px);
      padding-#{$left}: 5px;
    }
  }
  .price {
    margin-top: 5px;
    margin-bottom: 0;
    @include font-size(22px);
    span {
      @include font-size(13px);
      margin-#{$left}: -3px;
      text-transform: uppercase;
    }
    p {
      @include font-size(13px);
      margin-bottom: 0;
      a {
        color: $brand-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: -18px;
    #{$left}: auto;
    @include font-size(26px);
    @include media-breakpoint-down(sm) {
      margin-top: -24px;
    }
  }
  .swiper-button-next {
    @include swiper-button-next;
  }
  .swiper-button-prev {
    @include swiper-button-prev;
  }
  .swiper-left {
    top: 0;
    #{$left}: -500%;
    width: 500%;
    height: 100%;
    background: $white;
    position: absolute;
    z-index: 1;
  }
}
.gray-bg {
  background: $light-gray;
  .swiper-left {
    background: $light-gray;
  }
}
//upload input
.input-file {
  @extend .position-absolute;
  #{$right}: 12px;
  top: 3px;
  width: 43px;
  height: 43px;
  background: $white;
  @extend .rounded-circle;
  input {
    display: none;
  }
  button {
    background: none;
    border-width: 0;
    cursor: pointer;
    @extend .mx-auto;
    @extend .p-0;
  }
  .file-thumb {
    #{$left}: -100%;
    margin-#{$left}: -3px;
    position: absolute;
    top: 1px;
    .img-attached {
      width: 40px;
      height: 40px;
      overflow: hidden;
      display: flex;
      img {
        border-radius: 5px;
      }
    }

    a {
      position: absolute;
      top: -3px;
      #{$right}: -5px;
      width: 17px;
      height: 17px;
      background: $brand-color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      i {
        @include font-size(9px);
        height: 9px;
        color: $white;
        &:before {
          top: -0.5px;
        }
      }
    }
  }
}
.upload-img {
  width: 26px;
  height: 23px;
}
//socila icons
.icon-facebook {
  color: #475993;
}
.icon-twitter {
  color: #03a9f4;
}
//sprite
.sprite {
  position: relative;
  background: url('#{$img-path}/sprite.png') no-repeat transparent;
  display: block;
}
// override the default border
.border {
  border: 0 !important;
}
.checkbox {
  // hides the actual checkbox
  input[type='checkbox'] {
    display: none;
    // Label text
    + label {
      display: inline;
      position: relative;
      @include font-size(14px);
      cursor: pointer;
      // Unchecked checkbox box border
      &::before {
        display: inline-block;
        width: 13px;
        height: 13px;
        content: ' ';
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        vertical-align: middle;
        cursor: pointer;
        z-index: 10;
        top: -2px;
        position: relative;
        margin-#{$right}: 6px;
      }
      // Checkmark
      &::after {
        @include opacity(0);
        width: 6px;
        height: 12px;
        border: 2px solid $brand-color;
        border-left: none;
        border-top: none;
        content: ' ';
        position: absolute;
        #{$left}: 6px;
        bottom: 7px;
        transform: rotatez(45deg);
        z-index: 20;
        @include transition(all, 0.5s, ease);
      }
    }

    // Checked checkbox box border
    &:checked + label {
      &::after {
        @include opacity(1);
      }
    }
  }
}
.list-inline {
  > li {
    @extend .list-inline-item;
  }
}

//radio-group
.radio-custom {
  [type='radio']:checked,
  [type='radio']:not(:checked) {
    position: absolute;
    #{$left}: -9999px;
  }
  [type='radio']:checked + label,
  [type='radio']:not(:checked) + label {
    position: relative;
    padding-#{$left}: 18px;
    cursor: pointer;
    line-height: 13px;
    display: inline-block;
    @include font-size(14px);
  }
  [type='radio']:checked + label:before,
  [type='radio']:not(:checked) + label:before {
    content: '';
    position: absolute;
    #{$left}: 0;
    top: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #e2e2e2;
    border-radius: 100%;
    background: #fff;
  }
  [type='radio']:checked + label:after,
  [type='radio']:not(:checked) + label:after {
    content: '';
    width: 6.5px;
    height: 6.5px;
    background: $brand-color;
    position: absolute;
    top: 3px;
    #{$left}: 3.5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type='radio']:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type='radio']:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
//sidebar
.sidebar-main {
  z-index: 5;
}
//breadcrumb
.breadcrumb {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.breadcrumb-item {
  a {
    @include opacity(0.5);
  }
  + .breadcrumb-item {
    &::before {
      @include font-size(8px);
      @include opacity(0.5);
    }
    &:hover {
      a {
        @include opacity(1);
      }
    }
  }
}

//Availability

.availability {
  @include font-size(15px);
  margin-top: -5px;
  @include media-breakpoint-down(xs) {
    @include font-size(14px);
  }
  .in-icon {
    width: 5.5px;
    height: 6px;
    background-color: $green;
    border-radius: 100px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: -2px;
  }
}
//filter-mobile

.sidebar {
  background: $white;
  width: 85%;
  overflow-x: hidden;
  top: 60px !important;
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

//gray inputs
.gray-input {
  input {
    @extend .input;
  }
  .select__control {
    padding-top: 0 !important;
    background: $light-gray !important;
    height: 55px;
  }
  .has-float-label {
    background: $light-gray;
    height: 55px;
    &.textarea {
      height: auto;
    }
    input {
      height: 55px;
    }
    input,
    textarea {
      background: transparent;
      position: relative;
      z-index: 1;
      @include font-size(18px);
      padding-top: 21px;
      color: $basic-gray;
    }
    label {
      z-index: 0;
    }
    .input-file {
      z-index: 1;
    }
  }
}
.add-file {
  .form-control {
    padding-#{$right}: 60px !important;
  }
}

//float-label select
.float-label {
  label {
    position: absolute;
    #{$left}: 15px;
    margin-top: -12px;
    top: 50%;
    @include opacity(0.7);
    @include font-size(14px);
    @include transition(all, 0.3s, ease);
    margin-bottom: 0;
  }
  .select-input {
    position: relative;
    height: 55px;

    .select {
      margin-top: 0;
    }
    .select__control {
      padding-#{$left}: 15px;
      padding-#{$right}: 15px;
    }
    .select__control--is-focused {
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    }
    .select__value-container {
      padding-#{$left}: 0;
    }
    .select__single-value {
      font-weight: 400;
      @include font-size(14px);
      margin-top: 17px;
    }
    .select__multi-value__label {
      padding: 0px 10px;
      @include font-size(14px);
    }
    .select__multi-value {
      margin-top: 18px;
      background: darken($light-gray, 5%);
      overflow: hidden;
      &:first-child {
        border-top-#{$left}-radius: 10px;
        border-bottom-#{$left}-radius: 10px;
        margin-#{$left}: 0;
      }
      &:last-of-type {
        border-bottom-#{$right}-radius: 10px;
      }
    }
    .select__multi-value__remove:hover {
      background: darken($light-gray, 10%);
      color: $basic-gray;
    }
    .select__clear-indicator {
      background: $white;
      padding: 5px !important;
      margin-#{$right}: 10px;
      border-radius: 100%;

      svg {
        width: 20px !important;
        height: 20px !important;
      }
    }
    &.on {
      label {
        z-index: 10;
        top: 7px;
        margin-top: 0;
        @include font-size(13px);
      }
    }
  }
  &.disabled {
    cursor: not-allowed;
    label {
      top: 7px;
      margin-top: 0;
      @include font-size(13px);
      z-index: 1;
    }
  }
}
.error-text {
  display: none;
}
.error {
  margin-bottom: 30px;
  .select__control {
    box-shadow: 0px 1px 1px 0px rgba(200, 41, 56, 0.9);
  }
  input {
    box-shadow: 0px 1px 1px 0px rgba(200, 41, 56, 0.9);
  }
  .error-text {
    display: block;
    padding-top: 10px;
    padding-#{$left}: 10px;
    color: #c82938;
  }
}

//file input lightbox
.footer_60scne {
  display: none !important;
}
.figure_10ki57k {
  overflow: hidden;
  @include border-radius-div;
}
.alert {
  @include border-radius-div;
}

// open garage dropDown
.open-garage {
  position: relative;
  .btn.btn-gray {
    position: relative;
    @include font-size(19px);
    border-bottom-#{$right}-radius: 0 !important;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 6px 20px;
    @include media-breakpoint-down(md) {
      padding-right: 10px;
      padding-left: 10px;
      span {
        display: none;
      }
    }
    i {
      @include font-size(30px);
      height: 30px;
      @include if-rtl {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: 'FlipH';
        left: 5px;
      }
    }
  }
  > p {
    position: absolute;
    top: -5px;
    #{$right}: 15px;
    border-radius: 100%;
    @include font-size(15px);
    color: $white;
    background: $brand-color;
    padding: 0 5px;
    margin-bottom: 0;
    border: 1px solid $white;
    min-width: 22px;
    text-align: center;
  }
  .select-input {
    position: absolute;
    z-index: 3;
    width: calc(100% - 15px);
    height: 100%;
    @include media-breakpoint-down(md) {
      width: calc(100% - 30px);
    }
    &:hover + a {
      background: $dark-gray;
    }
  }

  .select__indicators {
    display: none;
  }
  .select__value-container,
  .select__control {
    background: transparent !important;
  }
  .select__single-value {
    display: none !important;
  }
  .select__menu {
    #{$left}: auto !important;
    #{$right}: 0 !important;
    margin-top: -10px !important;
    @include media-breakpoint-down(md) {
      #{$right}: if-rtl(-30px, 0) !important;
    }
    @include media-breakpoint-down(sm) {
      #{$right}: 0 !important;
    }
  }
  .placeholder {
    display: flex;
    align-items: center;
    color: $basic-gray;
    @include opacity(1);
    i {
      @include font-size(33px);
      @include opacity(0.7);
      margin-#{$right}: 5px;
      height: 35px;
    }
    h6 {
      font-weight: 400;
      @include font-size(16px);
      margin-bottom: 0;
      p {
        @include font-size(13px);
        @include opacity(0.8);
        white-space: nowrap;
        margin-top: 2px;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }
  .select__menu-list {
    .select__option {
      padding-top: 20px;
      padding-bottom: 20px;
      @include font-size(16px);
    }
  }
}
