.chat-div{
  @include text-left;
  padding: 0 10px;
  img{
    max-width: 40px;
  }
  .media-body{
    P{
      @include font-size(13px);
      margin-top: 2px;
      span{
        @include font-size(14px);
        display: block;
      }
    }
  }
  &:hover{
    p{
      span{
        text-decoration: underline;
      }
    }
  }
}