
.modal-content {
  border-radius: corner-values($border-radius-base 0 $border-radius-base $border-radius-base) !important;
  @include container-fluid;
  .close{
    @include opacity(1);
    margin-top: -15px;
    span{
      @include font-size(28px);
      width: 15px;
      height: 15px;
      display: block;
      line-height: 15px;
    }
    margin: unset;
  }
  .form-submit{
    padding-bottom: 20px;
    .btn{
      display: flex;
      width: 100%;
      align-items: center;
      height: 50px
    }
    .col-auto{
      padding-#{$right}: 0;
      .btn{
        border-top-#{$right}-radius: 0 !important;
        border-bottom-#{$right}-radius: 0 !important;
      }
      .btn-gray{
        @include font-size(17px);
      }
      + .col{
        padding-#{$left}: 5px;
      }
    }
    .btn-primary{
      @include font-size(20px);
      justify-content: flex-end;
      border-top-#{$left}-radius: 0 !important;
      border-bottom-#{$left}-radius: 0 !important;
      i{
        @include font-size(23px);
        height: 23px;
      }
      &:hover{
        padding-#{$right}: 30px;
      }
    }
  }
}
.modal-header {
  padding-top: 35px;
  border-bottom: 0;
  &.have-icon{
    p{
      display: inline-flex;
      align-items: flex-start;
      i{
        margin-#{$right}: 5px;
        height: 24px;
        display: inline-block;
      }
    }
  }
}
.modal-title {
  display: flex;
  font-weight: 400;
  @include font-size(30px);
  line-height: 25px;
  > p{
    border-bottom: 2px solid $brand-color;
    margin-bottom: 0;
    padding-bottom: 10px;
    margin-#{$right}: 7px;
  }
}
.modal-body {

}
.sub-header{
  @include font-size(16px);
  @include opacity(0.6);
}

//
.product-checkout_popup {
  .modal-content {
    background: white;
  }
  .sec-header{
    h1 {
      @include text-capitalize;
    }
  }
}
.dialog-form{
  
}
