/*FONT*/
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
  @import url('https://fonts.googleapis.com/css?family=Cairo:300,400,700&amp;subset=arabic');
body{
  @include if-ltr{
    font-family: 'Roboto', sans-serif;
  };
  @include if-rtl{
    font-family: 'Cairo', sans-serif;
  };
  color: $basic-gray;
  @include font-size(13px);
}
