.Quotations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0px 0px 5em;
}

.Quotations-tabview {
  padding: 0 0 0 0;
  width: 45em;
}

.Quotations-datatable {
  background-color: white;
}

.Quotations-top_buttons {
  display: flex;
  width: 15em;
  justify-content: space-around;
}