  .cart-items{
    @include border-radius-div;
    overflow: hidden;
    li{
      padding: 20px 15px;
      figure{
        margin-bottom: 0;
      }
      h3{
        font-weight: normal;
        @include font-size(17px);
        text-transform: capitalize;
          a:hover{
            text-decoration: underline;
          }
      }
      h4{
        @include font-size(15px);
        font-weight: 700;
        span{
          font-weight: normal;
        }
      }
    }
    li + li{
      margin-top: 20px;
    }
    .item-dis{
      padding-#{$right}: 30px;
    }
  }
  .cart-product-price{
    margin-bottom: 18px;
    margin-top: 10px;
    p{
      margin-bottom: 0;
    }
    .price{
      @include font-size(30px);
      font-weight: 300;
      letter-spacing: -4px;
      span{
        letter-spacing: 0;
        @include font-size(15px);
        font-weight: 400;
        text-transform: uppercase;
        margin-#{$left}: 2px;
      }
    }
    .availability{
      @include font-size(15px);
      margin-top: -5px;
      @include media-breakpoint-down(xs){
        @include font-size(14px);

      };
      .in-icon{
        width: 6px;
        height: 6px;
        background-color: $green;
        border-radius: 100px;
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: -2px;
      }
    }
  }
  .cart-actions{
    .btn-gray{
      padding: 9px 15px 4px;
      display: inline-block;
      margin-#{$right}: 10px;
      span{
        position: relative;
        top: -4px;
      }
    }
    .icon-heart{
      @include font-size(18px);
      margin-#{$right}: 4px;
      height: 18px;
    }
  }
.cart-back{
    @extend .btn-gray-secondary;
    @extend .d-block;
    @extend .text-right;
    @extend .mt-2;
    padding-right: 20px;
    padding-left: 20px;
    @include font-size(20px);
    margin-bottom: 72px;
    i{
      @include font-size(23px);
      margin-#{$left}: 10px;
      &:before{
        top: 6px;
      }
    }
    &:hover{
      padding-#{$right}: 30px;
    }
  }
.cart-quantity{
  padding-#{$left}: 0;
  @include media-breakpoint-down(md){
    margin-top: 10px;
  }
  h5{
    font-weight: 400;
    @include font-size(15px);
    @include opacity(0.8);
    text-align: #{$right};
    @include media-breakpoint-down(md){
        text-align: #{$left};
        display: inline-block;
        margin-bottom: 0;
        margin-#{$right}: 10px;
    }
  }

}
.cart-ship-to{
  float: #{$right};
  position: relative;
  > label{
    position: absolute;
    #{$left}: 20px;
    top: 11px;
    color: $white;
    @include font-size(15px);
    @include opacity(0.5);
    text-transform: none;
    margin-bottom: 0;
    @include media-breakpoint-down(md){
      #{$left}: 13px;
      top: 9px;
    }
  }
  .select__control{
    padding: side-values(10px 20px 13px 70px);
    background: rgba(0, 0, 0, 0.6);
    @include border-radius-div;
    @include media-breakpoint-down(md){
      padding: side-values(8px 10px 10px 60px);
    };
  }
  .select__single-value{
    color: $white;
  }
  .select__single-value{
    font-weight: normal;
    @include font-size(17px);
    letter-spacing: 1px;
    color: $light-gray;
    margin-#{$right}: 10px;
    margin-top: 2px;
  }
  .select__value-container{
    padding: 0;
  }
}
.cart-header{
  padding-#{$right}: 0;
  label{
    font-weight: 400;
    @include font-size(14px);
    margin-bottom: 0;
    @include media-breakpoint-up(lg){
      display: none;
    };
  }
}
.totalFoundData{
  background: $white;
  @include border-radius-div;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: -20px;
  display: block !important;
  div:first-child{
    width: 50%;
    padding-#{$left}: 15px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .btn-primary{
    width: 100%;
    text-align: #{$right};
    text-transform: capitalize;
    @include font-size(19px);
    line-height: 27px;
    border-top-#{$right}-radius: 0 !important;
    width: 50%;
    float: #{$right};
    i{
      height: 23px;
      margin-#{$left}: 10px;
      &:before{
        @include font-size(23px);
        top: 2px;
      }
    }
  }
  p,label{
    margin-bottom: 0;
  }
  label{
    @include font-size(13px);
    @include opacity(0.7);
  }
  p{
    @include font-size(17px);
  }
  .currency{
    @include font-size(13px);
  }
}
.total-sm{
  background: $white;
  @include border-radius-div;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: -20px;
  display: none !important;
  div:first-child{
    width: 50%;
    padding-#{$left}: 15px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .btn-primary{
    width: 100%;
    text-align: #{$right};
    text-transform: capitalize;
    @include font-size(19px);
    line-height: 27px;
    border-top-#{$right}-radius: 0 !important;
    width: 50%;
    float: #{$right};
    i{
      height: 23px;
      margin-#{$left}: 10px;
      &:before{
        @include font-size(23px);
        top: 2px;
      }
    }
  }
  p,label{
    margin-bottom: 0;
  }
  label{
    @include font-size(13px);
    @include opacity(0.7);
  }
  p{
    @include font-size(17px);
  }
  .currency{
    @include font-size(13px);
  }
}
.order-summery{
  .btn-primary{
    margin-top: 0px !important;
  }
}
