.checkout-container-shipping{
  background: $light-gray;
  padding-bottom: 20%;
  .Checkout-container{
    @include large-medium-screens {
      display: flex;
    }
    @include small-screen {
      display: block;
    }
    .whatsapp{
      .bg-whatsapp{
        text-transform: none;
        color: black;
        border-radius: side-values(20px 20px 0px 20px) !important;
        span{
          font-size: 9px;
          width: fit-content !important;
          text-align: $left;
        }
      }
    }
    .Address-container{
      .form-control {
        height: 55px;
      }
      .addresses-header{
        display: flex;
        margin-bottom: 3px;
        background: white;
        border-radius: side-values(20px 0 0 0) !important;
        padding-bottom: 8px;
        @include large-medium-screens {
          @include margin-right(30px);
        }
        @include small-screen {
          @include margin-right(0px);
          display: block;
          @include padding-left(20px);
          @include padding-right(20px);
        }
        .btn-primary{
          background: $light-gray;
          text-transform: capitalize;
          color: $black;
          @include small-screen {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
          }
          span{
            @include margin-left(5px);
          }
        }
        p{
          font-family: Roboto;
          @include font-size(17px);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: $left;
          margin-top: 10px;
          @include margin-left(10px);
          @include small-screen {
            @include margin-left(0px);
          }
        }
      }
      #addresses-container{
        margin-top: 3px;
      }
      form{
        @include large-medium-screens {
          @include margin-right(30px);
        }
        @include small-screen {
          @include margin-right(0px);
        }
        .no-gutters{
          background: $white;
          padding: 20px;
        }
        .RenderField{
          label{
            top: 6px;
          }
        }
        .title-address{
          margin-bottom: 20px;
          .form-control{
            border-radius: side-values(20px 0 0 20px) !important;
            background: $light-gray;
          }
          .RenderField{
            border-radius: side-values(20px 0 0 20px) !important;
            input{
              margin-bottom: 0px;
              border-bottom: none;
            }
          }
        }
        .google-map{
          display: flex;
          margin-top: 30px;
          margin-bottom: 10px;
          a{
            display: flex;
          }
          img{
            height: 28px;
          }
          p{
            font-family: Roboto;
            @include font-size(15px);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 43px;
            letter-spacing: normal;
            text-align: $left;
            margin-bottom: 0px;
            color: $brand-color;
          }
        }
        .address-title{
          margin-bottom: 20px;
          .form-control{
            border-radius: side-values(20px 0 20px 20px) !important;
            background: $light-gray;
          }
          .RenderField{
            border-radius: side-values(20px 0 20px 20px) !important;
            input{
              margin-bottom: 0px;
              border-bottom: none;
            }
          }
        }
        .select-input{
          .css-10nd86i{
            width: 100%;
            padding-bottom: 6px;
            background: $light-gray;
          }
          .select__value-container {
            height: 34px;
          }
        }
        .div-rounded-first{
          .RenderField{
            border: none;
            input{
              border-radius: side-values(20px 0 0 20px) !important;
              background: $light-gray;
              padding: 12px;
            }
            .input-group {
              height: 49px;
              top: -2px;
            }
          }
        }
        .div-rounded-last{
          .select-input{
            .css-10nd86i{
              border-radius: side-values(0 0 20px 0) !important;
            }
          }
        }
        .div-rounded{
          @include padding-left(5px);
          @include padding-right(5px);
        }
        .phone-info{
          margin-top: 25px;
          .RenderField{
            width: 100%;
            label{
              display: none;
            }
          }
          .phone-number{
            display: flex;
            .first{
              margin-#{$right}: 5px;
              .form-control{
                border-radius: side-values(20px 0 0 20px) !important;
                width: 70px;
                text-align: center;
              }
            }
            .form-control {
              border-radius: 0 0 0 0 !important;
              border: none;
              background: $light-gray;
              height: 55px;
              width: 110%;
              label,
              sub,
              br {
                display: none;
              }
            }
          }
          .zipCode{
            .form-control {
              border-radius: side-values(0 0 20px 0) !important;
              border: none;
              background: $light-gray;
              height: 55px;
              label,
              sub,
              br {
                display: none;
              }
            }
          }
        }
        .shipping-style{
          margin-bottom: 20px;
          .form-control{
            padding-bottom: 20px;
            border-radius: side-values(20px 0 20px 20px) !important;
            background: $light-gray;
          }
          .RenderField{
            @include padding-left(10px);
            border-radius: side-values(20px 0 20px 20px) !important;
            margin-left: -13px;
            input{
              margin-bottom: 0px;
              border-bottom: none;
            }
          }
        }
        .checkmark{
          border-radius: 9px;
        }
        .container{
          margin-top: 10px;
          margin-bottom: 0px;
        }
        .footer{
          margin-top: 32px;
          margin-bottom: 50px;
          .btn-light{
            float: right;
            height: auto;
            background-color: $light-gray;
            border-radius: side-values(0 0 0 20px) !important;
            @include large-medium-screens {
              width: 18%;
              @include box-shadow;
            }
            @include small-screen {
              width: 100%;
              margin-top: 20px;
            }
          }
          .btn-primary{
            float: right;
            @include margin-left(5px);
            width: 80%;
            border-radius: side-values(0 20px 20px 0) !important;
            height: auto;
            text-align: $right;
            text-transform: none;
            i{
              @include margin-left(10px);
            }
            @include large-medium-screens {
              width: 80%;
              @include box-shadow;
            }
            @include small-screen {
              width: 100%;
            }
          }
        }

        .btn-secondary{
          @include margin-left(5px);
          background: $brand-color;
          border-radius: side-values(0 20px 20px 0) !important;
          height: auto;
          @include box-shadow;
          text-align: $right;
          text-transform: none;
          float: right;
          color: $white;
          margin-top: 21px;
          margin-bottom: 71px;
          i{
            @include margin-left(10px);
          }
        }
      }
    }
  }
  .default-header-bg{
    margin-bottom: 70px;
    header{
      h1{
        margin-top: 10px;
        font-family: Roboto;
        @include font-size(30px);
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: $left;
        color: #fefeff;
      }
    }
    .header-options{
      float: right;
      margin-top: 27px;
      position: relative;
      .payment{
        div{
          display: none !important;
        }
      }
      .paymentActive{
        background: $white !important;
        border-radius: side-values(0 0 20px 0);
        color: $black;
        opacity: 1 !important;
        div{
          display: block !important;
          color: red;
          position: absolute;
          margin-left: 5%;
          i::before{
            background: white;
            border-radius: 50%;
          }
        }
      }
      .paymentDone{
        border-radius: side-values(0 !important);
        div{
          display: none !important;
        }
      }
      .shippingDone{
        border-radius: side-values(0 !important);
        div{
          display: none !important;
        }
      }
      .signin{
        background: $white !important;
        border-radius: side-values(20px 0 0 20px);
        color: $black;
        opacity: 1 !important;
      }
      .shipping{
        background: $white !important;
        border-radius: side-values(0 0 20px 0);
        color: $black;
        opacity: 1 !important;
        div{
          color: red;
          position: absolute;
          margin-left: 5%;
          i::before{
            background: white;
            border-radius: 50%;
          }
        }
      }
      .order{
        border-radius: side-values(0 0 20px 0);
        div{
          display: none !important;
        }
      }
      .orderActive{
        background: $white !important;
        border-radius: side-values(0 0 20px 0);
        color: $black;
        opacity: 1 !important;
        div{
          display: block !important;
          color: red;
          position: absolute;
          margin-left: 5%;
          i::before{
            background: white;
            border-radius: 50%;
          }
        }
      }
      Button{
        opacity: 0.7;
        background: #000000;
        color: $white;
        border: none;
        padding: 12px;
        padding-left: 20px;
        padding-right: 30px;
        span{
          @include margin-left(7px);
        }
        i{
          @include font-size(25px);
        }
      }
    }
  }
}
.Checkout-Order_summary{
  @include small-screen{
    padding: 0px;
  }
}
