#confirm-order{
  .content{
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 61px;
    padding-top: 50px;
    .upload-img{
      @include font-size(90px);
      opacity: .1;
    }
    p{
      font-family: Roboto;
      @include font-size(50px);
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $basic-gray;
      margin-bottom: 40px;
      margin-top: -20px;
      span{
        border-bottom:1px solid red;
      }
    }
    h5{
      font-family: Roboto;
      @include font-size(18px);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      margin-bottom: 40px;
      color: var(--dark-charcoal-grey);
      span{
        color: #ee4036;
      }
    }
    div{
      text-align: $right;
      margin: side-values(0px 127px 0px 0px) !important;
      img{
        background: none;
        margin: 0px;
        max-width: 50px;
        height: 45px;
        opacity: 1;
      }
      a{
        margin: 0px;
        font-family: Roboto;
        @include font-size(12px);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        display: inline-block;
        text-align: center;
      }
    }
     .btn-open-G{
      border-style: none;
      height: 55px;
      background: $brand-color;
      text-transform: none;
      color: white;
      border-radius: side-values(0px 20px 20px 0px) !important;
      i{
        margin-#{$left}: 10px;
      }
    }
  }
  .CheckoutConfirmation_items{
    background: #f6f6f6 ;
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;

    @include small-screen {
      padding: 10px;
      padding-bottom: 20px;
    }
    .title{
      border-radius: side-values(20px 0 0 0);
      background: white;
      padding: 20px;
      margin-bottom: 2px;
      font-family: Roboto;
      @include font-size(25px);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #37363c;
    }
    .item-list{
      border: none;
      margin-bottom: 30px;
      li{
        background: $white;
        margin-bottom: 2px;
        margin-top: 0px;
        padding: 20px;
        .quantity-div {
          .product-price{
            display: flex;
            .quantity{
              @include margin-left(14px);
              opacity: 0.8;
              font-family: Roboto;
              @include font-size(15px);
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 40px;
              letter-spacing: normal;
              span{
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .estimation{
      margin-bottom: 30px;
      .title{
        border-radius: side-values(0);
        margin-bottom: 2px;
      }
      .estimation-table{
        background: $white;
        padding: 20px;
        .first-row{
          border-top: none !important;
        }
        .product-options{
          .d-table-row{
            border-top: none !important;
            .d-table-cell{
              border-top: 1px solid $dark-gray;
              padding: 10px;
              &:first-child{
                border-#{$right}: none;
              }
            }
          }
        }
      }
    }
    .delivery-address{
      .DeliveryAddress_subheader{
        h4{
          padding: 20px;
          background: $white;
          margin-bottom: 2px;
        }
        .addresses-box_item{
          border-radius: side-values(0 0 0 20px);
          background: $white;
          margin-bottom: 25px;
          padding: 20px;
          .addresses-box_item-label{
            display: flex;
            p{
              margin-bottom: 0px;
              font-family: Roboto;
              @include font-size(17px);
              font-style: normal;
              font-stretch: normal;
              line-height: 28px;
              letter-spacing: normal;
              text-align: $left;
              font-weight: bold;
            }
          }
          .about-the-person{
            p{
              font-family: Roboto;
              @include font-size(15px);
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.53;
              letter-spacing: normal;
              text-align: $left;
              margin: 0px;
            }
          }
          .addresses-footer{
            height: 41px;
            display: flex;
            margin-top: 18px;
            margin-bottom: 18px;
            .btn-gray{
              display: none;
            }
          }
          .seperator{
            width: 100%;
            height: 2px;
            background-color: $light-gray;
          }
        }
        .footer-delivery{
          font-family: Roboto;
          @include font-size(15px);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: $left;
          margin-bottom: 0px;
          margin-top: 10px;
          color: #37363c;
        }
      }
    }
    .payment-method{
      background: none !important;
     .PaymentMethod_subheader{
       h4{
         padding: 20px;
         background: $white;
         margin-bottom: 2px;
       }
       .payment-box_item{
         border-radius: side-values(0 0 20px 0);
         background: $white;
         padding: 10px;
         padding-bottom: 95px;
         .payment-box_item-label{
           display: flex;
           @include margin-left(20px);
           p{
             margin-bottom: 0px;
             font-family: Roboto;
             @include font-size(17px);
             font-weight: normal;
             font-style: normal;
             font-stretch: normal;
             line-height: 28px;
             letter-spacing: normal;
             text-align: $left;
             @include margin-left(4px);
           }
           img{
             width: 25px;
             height: 25px;
           }
         }
         .visa-num{
           @include margin-left(19px);
           .end-number{
             display: flex;
             opacity: 0.6;
             font-family: Roboto;
             @include font-size(13px);
             font-weight: 500;
             font-style: normal;
             font-stretch: normal;
             line-height: normal;
             letter-spacing: normal;
             text-align: $left;
             color: rgba(55, 54, 60, 0.6);
             margin-bottom: 10px;
             span{
               @include margin-left(6px);
               color: $black;
             }
           }
           .expires-date{
             display: flex;
             opacity: 0.6;
             margin-bottom: 0px;
             font-family: Roboto;
             @include font-size(13px);
             font-weight: 500;
             font-style: normal;
             font-stretch: normal;
             line-height: normal;
             letter-spacing: normal;
             text-align: $left;
             color: rgba(55, 54, 60, 0.6);
             span{
               @include margin-left(6px);
               color: $black;
             }
           }
         }
         .payment-footer{
           height: 41px;
           display: flex;
           margin-top: 18px;
           .btn-gray{
             display: none;
           }
         }
       }
     }
    }
    .div-price-quantity{
      display: flex;
      .cart-quantity{
        h5{
          line-height: 70px;
          @include margin-left(14px);
        }
      }
    }
  }
}
