#order-summary {
  @include text-left;
  h5 {
    font-family: Roboto;
    @include font-size(25px);
    text-transform: capitalize;
    color: $basic-gray;
  }
  .order-summary__text-muted,
  .item-key {
    opacity: 0.7;
    font-family: Roboto;
    @include font-size(13px);
    line-height: 1.31;
    letter-spacing: normal;
    text-align: $left;
    color: $dark-70;
  }
  .order-summary__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
    span {
      flex: 0 50%;
    }
    .item-value {
      text-align: end;
      font-family: Roboto;
      @include font-size(17px);
      line-height: 1;
      color: $black;

      > span {
        font-family: Roboto;
        @include font-size(11px);
        color: $black;
        padding-#{$left}: 3px;
      }
    }

    .h-seperator {
      background: #ececec;
      height: 1px;
      margin-bottom: 16px;
      margin-top: 17px;
    }
  }
  .order-summary__header {
    .h-seperator {
      position: absolute;
      background: $light-gray;
      height: 2px;
      #{$left}: 0;
      margin-top: 16px;
    }
  }
  .btn-primary {
    width: 100%;
    border-radius: corner-values(0 0 20px 20px) !important;
    text-align: $right;
    text-transform: capitalize;
  }
  button {
    @include font-size(20px);

    i {
      padding-#{$left}: 7px;
    }
  }
}
