.login {
  @include text-left;
  form {
    .has-float-label{
      &:first-child{
        border-top-#{$left}-radius : $border-radius-base;
        input{
          border-top-#{$left}-radius : $border-radius-base;
        }
      }
      &:nth-child(2){
        border-bottom-left-radius: $border-radius-base;
        border-bottom-right-radius: $border-radius-base;
        margin-bottom: 20px;
        input{
          border-bottom-left-radius: $border-radius-base;
          border-bottom-right-radius: $border-radius-base;
        }
      }
      & + .has-float-label{
        margin-top: 10px;
      }
    }
    .forger-password{
      padding-bottom: 20px;
      label, a{
        @include font-size(15px);
      }
    }
    .btn-primary{
      @include font-size(20px);
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 40px;
      i{
        @include font-size(23px);
        height: 23px;
      }
      &:hover{
        padding-#{$right}: 30px;
      }
    }
  }
}
.sign-up-link{
  text-align: center;
  @include font-size(18px);
  margin-top: 30px;
  button{
    color: $brand-color;
    margin-#{$right}: 5px;

  }
}
