.main-footer{
  @include text-left;
  padding-top: 50px;
  background: $basic-gray;
  color: $white;
  h5{
    font-weight: 300;
    text-transform: uppercase;
  }
  @include nav-sm-media{
    padding-top: 0;
    .qparts-benefit,
    .site-map,
    .subscribe{
      display: none;
    }
  };
}
.qparts-benefit{
    @extend .list-unstyled;
    @extend .justify-content-center;
    @include make-row();
    padding-bottom: 20px;
    i{
        padding-#{$right}: 15px;
        @include opacity(0.5);
        &.icon-pricing{
          @include font-size(42px);
          margin-right: -6px;
          height: 40px;
          &::before{
            top: -1px;
          }
        }
        &.icon-whatsapp{
          @include font-size(30px);
        }
        &.icon-delivery{
          @include font-size(39px);
          height: 40px;
          &::before{
            top: -5px;
          }
        }
        &.icon-wallet{
          @include font-size(30px);
        }
      }
      .media-body{
        h5{
          @include font-size(17px);
          text-transform: uppercase;
          @include if-ltr{
            margin-bottom: 2px;
          };
          @include if-ltr{
            margin-bottom: 7px;
          };
        }
        p{
          @include font-size(14px);
          @include opacity(0.5);
          margin-bottom: 0;
          span{
            @include nav-sm-media{
              display: block;
            };
          }
        }
      }
}
  .site-map{
    padding-top: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 0;
    ul li{
      @include if-ltr{
        margin-bottom: 2px;
      };
      @include if-rtl{
        margin-bottom: 7px;
      };
    }
    h5{
      @include font-size(15px);
      margin-bottom: 11px;
    }
    a{
      color: $white;
      @include font-size(14px);
      @include opacity(0.5);
      &:hover{
        @include opacity(0.9);
      }
    }
  }
  .subscribe {
    p{
      font-weight: 300;
      @include font-size(14px);
      @include opacity(0.5);
      margin-bottom: 10px;
    }
    .form-control{
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: $white;
        background: transparent;
        margin-#{$right}: 11px;
        @extend .div-border-radius;
        @include font-size(15px);
        &:focus{
          box-shadow: none;
          border-color: rgba(255, 255, 255, 0.8);
        }
        &::placeholder {
          @include font-size(15px);
          color: $basic-dark-white;
        }
    }
    .btn-primary{
      .icon-email{
        display: none !important;
        min-height: 30px;
        margin: 0;
        &:before{
          top: 2px;
        }
      }
      @include font-size(20px);
      i{
        height: 20px;
        &:before{
          top: 4px;
        }
      }
    }
  }
  .copy-rights{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    @include font-size(16px);
    @include opacity(0.5);
  }
  .social-footer{
    a{
      display: inline-block;
      margin-#{$right}: 10px;
    }
    i{
      color: $white;
    }
    .icon-twitter,
    .icon-facebook{
      @include font-size(24px);
    }
    .icon-twitter{
      &:before{
        top: 2px;
      }
    }
    .icon-linked-in{
      @include font-size(22px);
      &:before{
        top: 1px;
      }
    }
    a:hover{
      @include opacity(1);
    }
  }
