#header-fixed{
  width: 100%;
  z-index: 3;
  top: 0;
  background: $white;
  position: fixed;
  @include nav-sm-media{
    background: transparent
  };
}
.main-header{
  @include transition(all, 0.3s, ease);
  @extend .position-relative;
  z-index: 4;
  background: $white;
  border-bottom: 1px solid $light-gray;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 65px;
  @include nav-sm-media{
    display: none;
  };
}
.data-setting {
  position: relative;
  top: 10px;
  z-index: 4;
  .input-group {
    position: relative;
  }
  .ship-to {
    @include font-size(13px);

  }
  .select__value-container{
    padding: 1px 5px;
  }
  .select__menu{
    margin-top: 14px;
    z-index: 100;
  }
  .seperator {
    height: 20px;
  }
}
.lang {
      padding-#{$left}: 2px;
      @include if-ltr {
        font-family: 'Cairo', sans-serif;
        font-weight: 400;
      }
      @include if-rtl{
        font-family: 'Roboto', sans-serif;

      };
    }
.main-search{
    margin-top: 2px;
    @extend .input-group;
    padding-left: 10px;
    padding-right: 10px;
    .form-control{
      background: $light-gray;
      height: 40px;
      border-width: 0;
      padding-#{$right}: 200px;
      @extend .div-border-radius;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
      @include font-size(15px);
      @include media-breakpoint-down(md){
        padding-#{$right}: 50px;
      };
      &:focus{
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
      }
      &::placeholder{
        color: $basic-gray;
        @include font-size(13px);
      }
    }
    .float-btn{
      position: absolute;
      top: 0;
      #{$right}: 10px;
      z-index: 3;
      display: flex;
      align-items: center;
      p{
        display: inline-block;
        margin-bottom: 0;
        @include font-size(13px);
        @include opacity(0.6);
        padding-#{$right}: 15px;
      }
      button{
        width: 35px;
        height: 40px;
        background: transparent;
        border-width: 0;
        padding: 0;
        text-align: center;
        .icon-search{
          color: $basic-gray;
          height: 21px;
          @include font-size(20px);
          margin-#{$right}: 15px;
          margin-top: 1px;
        }
        @include nav-lg-media{
          width: 50px;
          background: $brand-color;
          border-top-#{$right}-radius: 0 !important;
          border-bottom-#{$left}-radius: 0 !important;
          .icon-search{
            color: $white;
            margin-#{$right}: 0;
            margin-top: 5px;
          }
        };
      }
    }
    .vin-sm{
      color: $white;
      padding-#{$left}: 15px;
      padding-top: 15px;
      width: 100%;
      a{
        color: $white;
      }
    }
  }
.brand{
    @extend .d-block;
    img{
      width: 117px;
      margin-top: -1px;
    }
  }
.user-actions{
  @extend .float-#{$right};
  display: flex;
  align-items: center;
  > ul{
    align-items: center;
    display: flex;
    @extend .list-unstyled;
    margin-bottom: 0;
    padding-bottom: 0;
    > li{
      margin-#{$right}: 20px;
      @include font-size(15px);
      > a{
        display: flex;
        @include if-ltr{
          align-items: center;
        };
        @include if-rtl{
          align-items: flex-start;
        };
      }
      @include nav-sm-media{
        margin-#{$right}: 15px;
      };
      &:last-child{
        margin-#{$right}: 0;
      }
      &.search-sm{
        margin-#{$right}: 2px;
        margin-top: 7px;
      }
      &.user-account {
          @include font-size(14px);
      }
      .not-empty{
        position: relative;
        display: block;
        span{
          font-family: "Roboto";
          @include font-size(13px);
          position: absolute;
          border-radius: 100%;
          background: $brand-color;
          color: $white;
          top: -8px;
          #{$right}: -6px;
          padding: 0 5px;
          height: 17px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include if-ltr{
            padding-top: 1px;
          };
          @include if-rtl{

          };
        }
      }
      .icon-heart{
        @include font-size(24px);
        height: 22px;
        display: block;
        &:before{
          @include if-ltr{
            top: -4px;
          };
          @include if-rtl{
            top: -1px;
          };
        }
      }
      img{
        width: 24px;
        height: auto;
        margin-#{$right}: 10px;
      }
    }
    .search-sm + li{
      @include nav-lg-media(){
        display: none;
      };
    }
  }
  .icon-cart {
    @include font-size(24px);
    height: 24px;
    display: block;
    &:before{
      @include if-ltr{
        top: -2px;
      };
    }
  }
  .seperator {
    height: 30px;
    display: inline-table;
  }
  .dropdown-menu{
    text-align: #{$left};
    overflow: hidden;
    border-radius: corner-values(0px 0px $border-radius-base $border-radius-base);
    #{$left}: auto !important;
    #{$right}: 0 !important;
    @include if-ltr{
      top: 15px !important;
    };
    @include if-rtl{
      top: 11px !important;
    };
    border-width: 0;
    padding-bottom: 0;
    > h6{
      @extend .px-3;
      color: $basic-gray;
      @include font-size(16px);
      @include opacity(0.4);
      font-weight: 400;
      @extend .text-capitalize;
    }
    > p{
      @extend .px-3;
      @include font-size(15px);
      color: $charcoal-grey-two-40;
      white-space: nowrap;
      a{
        color: $basic-gray;
        font-weight: 400;
        padding-#{$left}: 5px;
        i{
          @include transition(all, 0.5s, ease);
          padding-#{$left}: 5px;
          @include font-size(14px);

          &:before{
            top: 2px;
          }
        }
        &:hover{
          i{
            @include margin-left(5px);
          }
        }
      }
    }
  }
}
.signin-list{
      @extend .mx-3;
      padding-left: 0;
      padding-right: 0;
      display: flex;
      margin-bottom: 15px;
      li{
        display: inline-block;
        margin-#{$right}: 5px;
        &:first-child{
          a{
            @extend .btn-primary;
            text-transform: capitalize;
            @include font-size(18px);
            i{
              @include font-size(17px);
              margin-#{$left}: 3px;
              &:before{
                top: 3px;
              }
            }
          }
        }
        &:last-child{
          margin-#{$right}: 0;
          a{
            border-radius: corner-values(0 0 $border-radius-base 0);

          }
        }
      }
    }
.account-actions{
      @extend .px-3;
      background: $light-gray;
      @extend .list-unstyled;
      @extend .d-flex;
      @extend .mb-0;
      > li{
        //@extend .flex-fill;
        a{
          padding: 5px 10px;
          @include font-size(13px);
          @extend .d-flex;
          white-space: nowrap;
          i{
            padding-#{$right}: 5px;
          }
          .icon-shopping-bag{
            @include font-size(17px);
          }
          .icon-send{
            @include font-size(18px);
          }
          img{
            max-width:18px;
            height: 18.5px;
            margin-#{$right}: 5px;

          }
        }

      }
    }
.user-account {
    @include nav-sm-media{
      display: none !important;
    };
    .new-note{
      background: $brand-color;
      border-radius: 100%;
      width: 8px;
      height: 8px;
    }
    .user-img {
      margin-#{$right}: 5px;
      top: -1px;
      width: 20px;
      img {
        max-width: 100%;
      }
    }
    .seperator {
      height: 12px;
      margin: -1px 5px 0;
    }
    b {
      font-weight: 500;
    }
    .dropdown-toggle{
      &:after{
        @include if-rtl{
          margin-right: 5px;
          position: relative;
          top: 2px;
        };
      }
    }
  }
.slideUp {
  .main-header{
    @include opacity(0);
  }
}
.slideDown {
  .main-header{
    @include opacity(1);
  }
}
.profile-actions{
  white-space: nowrap;
  margin-top: -10px;
  min-width: 200px;
  img{
    max-width: 25px;
  }
  i{
    @include font-size(26px);
    max-height: 27px;
    display: inline-block;

  }
  img,i{
    margin-#{$right}: 10px;
  }
  li{
    + li{
      a{
        border-top: 1px solid darken($light-gray, 1%);
      }
    }
    a{
      display: flex;
      width: 100%;
      align-items: center;
      padding: 15px;
      @include font-size(16px);
      line-height: 1;
      &:hover{
        background: $light-gray;
      }
      > span{
        display: none;
      }

    }

  }
}
.notification{
  position: relative;
  background: lighten($brand-color, 38%);
  border-#{$left}: 2px solid $brand-color;
  span{
  display: block !important;
  position: absolute;
  border-radius: 100%;
  background: $brand-color;
  color: $white;
  top: 19px;
  #{$right}: 15px;
  padding: 0 7px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  @include font-size(15px);
  line-height: 1.5;
}
  &:hover{
    background: lighten($brand-color, 38%) !important;
  }
}
.nav-sm{
  .notification{
    span{
      top: 10px;

    }
  }
}
