.mt-sec-home {
  padding-top: 60px;
  @include media-breakpoint-down(lg) {
    padding-top: 50px;
  }
}
.select-vechile{
  position: relative;
  z-index: 1;
  @include media-breakpoint-down(lg){
    min-height: 275px;
  };
  @include media-breakpoint-down(md){
    min-height: 300px;
  };
  @include media-breakpoint-down(sm){
    min-height: 330px;
  };
  img{
    min-width: 100%;
    max-width: none;
    height: 100%;
    @include media-breakpoint-down(lg){
      position: absolute;
      #{$left}: 50%;
      @include if-ltr{
        transform: translate(-50%, 0);
      };
      @include if-rtl{
        transform: translate(50%, 0);
      };
    }
  }
  .form-main{
    top: 50%;
    left: 0;
    width: 100%;
    position: absolute;
    transform: translate(0, -50%);
  }
  header{
    color: $white;
    text-align: center;
    margin-bottom: 30px;
    @include media-breakpoint-down(lg){
      margin-bottom: 0;
    };
    h1{
      @include if-ltr{
        @include font-size(40px);
        font-weight: 400;
        margin-bottom: 0;
      };
      @include if-rtl{
        @include font-size(50px);
        margin-bottom: 10px;
      };
      @include media-breakpoint-down(sm){
        @include font-size(25px);
        font-weight: 500;
        margin-bottom: 20px;
        line-height: 0.8;
      }
    }
    p{
      @include if-ltr{
        @include font-size(14px);
      };
      @include if-rtl{
        @include font-size(20px);
      }
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
  }


}
.main-parts {
  padding-top: 50px;
  @include media-breakpoint-down(sm){
    padding-top: 30px;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    @include font-size(30px);
    @include if-ltr{
      font-weight: 400;
    };
    @include media-breakpoint-down(sm) {
      @include font-size(25px);
      text-align: #{$left};
      line-height: 0.8;
    }
  }
  ul {
    @extend .justify-content-center;
    margin-bottom: 0;
    @include media-breakpoint-down(md){
      margin-bottom: -30px;
    }
    @include media-breakpoint-down(sm){
      margin-bottom: 0;
    }
  }
  li {
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 5px;
      a{
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    &:first-child {
      a {
        border-radius: corner-values($border-radius-base 0 0 $border-radius-base);
        @include media-breakpoint-down(md) {
          border-radius: corner-values($border-radius-base 0 0 0);
        }
      }
    }
    &:last-child {
      a {
        border-radius: corner-values(0 $border-radius-base $border-radius-base 0);
        @include media-breakpoint-down(md) {
          border-top-#{$right}-radius: 0;
        }
        @include media-breakpoint-down(sm) {
          border-radius: corner-values(0 0 $border-radius-base $border-radius-base);
        }
      }
    }
    &:nth-child(3) {
      @include media-breakpoint-down(md) {
        a {
          border-bottom-#{$left}-radius: $border-radius-base;
        }
      }
      @include media-breakpoint-down(sm) {
        a {
          border-bottom-#{$left}-radius: 0;
        }
      }
    }
    &.oil {
      img {
        width: 35px;
        position: relative;
        @include media-breakpoint-down(sm) {
          width: 25px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    &.air {
      img {
        width: 53px;
        @include media-breakpoint-down(sm) {
          width: 40px;
        }
      }
    }
    &.brake {
      img {
        width: 45px;
        @include media-breakpoint-down(sm) {
          width: 40px;
        }

      }
    }
    &.spark {
      img {
        width: 45px;
        @include media-breakpoint-down(sm) {
          width: 40px;
        }
      }
    }
  }
  a {
    @include media-breakpoint-up(sm){
      align-items: flex-start;
    };
    @include media-breakpoint-down(sm){
      align-items: center;
    };
    background: $light-gray;
    padding: 20px;
    @extend .media;
    height: 100%;
    &:hover {
      h5 {
        text-decoration: underline;
      }
    }
  }
  .media-body {
    @include padding-left(15px);
    h5 {
      @include font-size(20px);
      font-weight: 400;
      margin-bottom: 3px;
      @include media-breakpoint-down(sm){
        @include font-size(18px);
      };
    }
    p {
      @include font-size(14px);
      color: $lighter-grey;
      margin-bottom: 0;
      @include if-rtl{
        line-height: 1.5;
      };
    }

  }
}
.main-cat {
  @extend .mt-sec-home;
  > ul {
    margin-bottom: -30px;
    @include media-breakpoint-down(md){
      margin-bottom: -10px;
    }
  }
  li {
    margin-bottom: 30px;
    @include media-breakpoint-down(md){
      margin-bottom: 10px;
    }
    a {
      overflow: hidden;
      display: flex;
      height: 100%;
      @include media-breakpoint-down(md) {
        margin-bottom: 5px;
      }
      figure {
        margin-bottom: 0;
        position: relative;
        overflow: hidden;
        background: $basic-gray;
        width: 100%;
        min-height: 150px;
        img {
          width: 100%;
          @include transition(all, 0.3s, ease);
          height: auto;

          @include media-breakpoint-down(lg){
            height: auto;
            min-height: 100%;
            width: auto;
            max-width: none;
            position: relative;
            #{$left}: 50%;
            @include if-ltr{
              transform: translate(-50%, 0);
            };
            @include if-rtl{
              transform: translate(50%, 0);
            };
          };
        }
        figcaption {
          @extend .position-absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          text-align: center;
          h4 {
            color: $white;
            @include font-size(30px);
            font-weight: 500;
            text-transform: capitalize;
            @include media-breakpoint-down(md) {
              @include font-size(30px);
              font-weight: 700;
            }
            @include media-breakpoint-down(xs) {
              @include font-size(22px);
            }
          }
        }
        span {
          @extend .position-absolute;
          @include font-size(22px);
          @extend .text-center;
          background: darken($brand-color, 2%);
          color: $light-gray;
          bottom: -60px;
          width: 100%;
          padding: 10px;
          @include transition(all, 0.5s, ease);
          #{$left}: 0;
          font-weight: 300;
          @extend .text-uppercase;
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
      &:hover {
        @include media-breakpoint-up(lg) {
          figure {
            img {
              margin-top: -30px;
              margin-bottom: 30px;
            }
            span {
              bottom: 0;
            }
          }
        }
      }
    }
    &:first-child {
      a {
        border-top-#{$left}-radius: $border-radius-base;
      }
    }
    &:nth-child(3){
      a{
        border-bottom-#{$left}-radius: $border-radius-base;
      }
    }
    &:last-child {
      a {
        border-bottom-#{$right}-radius: $border-radius-base;
      }
    }
    @include media-breakpoint-down(md) {
      padding-#{$right}: 5px;
      padding-#{$left}: 5px;
      &:first-child,
      &:nth-child(3) {
        padding-#{$left}: 15px;
      }
      &:last-child,
      &:nth-child(2) {
        padding-#{$right}: 15px;
      }
    }
    @include media-breakpoint-down(sm) {
      padding-#{$right}: 15px;
      padding-#{$left}: 15px;
      &:nth-child(2n+2){
        padding-#{$right}: 5px;
      }
      &:nth-child(2n+3){
        padding-#{$left}: 5px;
      }
      &:nth-child(3){
        a{
          border-bottom-#{$left}-radius: 0;
        }
      }
      &:nth-child(3){
        a{
          border-bottom-#{$left}-radius: 0;
        }
      }
      &:nth-last-child(2){
        a{
          border-bottom-#{$left}-radius: $border-radius-base;
        }
      }
      img{
        max-width: 100% !important;
      }
    }
  }
}
.cat-header {
  h1{
    @include font-size(30px);
    margin-bottom: 20px;
    line-height: 0.8;
    @include if-ltr{
      font-weight: 400;
    };
    @include media-breakpoint-down(sm) {
      @include font-size(25px);
      margin-bottom: 20px;
    }
  }
  h3 {
    @include font-size(30px);
    text-transform: uppercase;
    margin-bottom: 30px;
    @include media-breakpoint-down(sm) {
      @include font-size(25px);
      margin-bottom: 20px;
    }
  }
  a {
    display: flex;
    align-items: center;
    @include font-size(15px);
    @include opacity(0.6);
    i {
      @include font-size(19px);
      height: 19px;
      display: inline-block;
      margin-#{$left}: 5px;
      &:before {
        top: -2px;
      }
    }
    &:hover {
      @include opacity(1);
    }
  }
}
.vendor{
  @extend .mt-sec-home;
  text-align: center;
  background-image: url('/img/tire-bg.jpg');
  text-align: center;
  background-image: url(/img/tire-bg.jpg);
  height: 276.5px;
  margin-top: 60.5px;
  padding: 15px;
  .shop-tires{
    display: flex;
    justify-content: space-between;
    height: 100%;

    .tires-img{
      height: 100%;
      margin-left: 25px;
      margin-top: 18.5px;
    }
   .shop-tires-details{
     header{
      width: 174px;
      height: 23px;
      font-family: Roboto;
      font-size: 30px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #37363c;
      margin-left: 25px;
      margin-top: 18.5px;
      @include if-rtl{
      margin-right: -68px;
      }
     }
     hr{
      width: 85px;
      height: 2px;
      background-color: #ed4036;
      text-align: left;
      @include if-ltr {
        margin-left: 25px;
      }
      @include if-rtl{
        margin-left: 53px;
        width: 57px;
      }
    }
    h5{
      width: 200px;
      height: 20px;
      font-family: Roboto;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #37363c;
      margin-left: 28px;
      margin-top: 34px;
      @include if-rtl{
        margin-right: -136px;
      }
    }
   }
  }
  .action{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img{
      width: 118px;
    }
    .btn{
      height: 51px;
      @include font-size(20px);
      display: flex;
      align-items: center;
      position: relative;
      top: -17px;
      @include if-ltr{
        font-weight: 300;
      };
    }
  }
}
.tires-filter{
  position: relative;
  margin-top: 60px;
  @include media-breakpoint-down(lg){
    margin-top: 50px;
  }
  > picture{
    position: absolute;
    top: 0;
    #{$left}: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include border-radius-div;
    img{
      height: auto;
      min-height: 100%;
      width: auto;
      max-width: none;
      min-width: 100%;
      position: relative;
      #{$left}: 50%;
      @include if-ltr{
        transform: translate(-50%, 0);
      };
      @include if-rtl{
        transform: translate(50%, 0);
      };
    }
  }
  .cat-header{
    h1{
      font-weight: 500;
      margin-bottom: 28px;
      margin-top: 48px;
      @include media-breakpoint-down(xs){
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    p{
      display: inline;
      border-bottom: 2px solid $brand-color;
    }
  }
  .tire-ex{
    display: flex;
    align-items: center;
    h5{
      @include font-size(20px);
      font-weight: 400;
    }
    > ul{
      margin-#{$left}: 20px;
      border-#{$left}: 1px solid $charcoal-grey-two-40;
      padding-#{$left}: 20px !important;
      display: flex;
      align-items: flex-start;
      margin-top: -2px;
      li{
        text-align: center;
        @include font-size(30px);
        &:last-child{
          padding-#{$left}: 4px;
        }
        &:nth-child(2){
          margin-#{$right}: -2px;
        }
        @include if-ltr{
          margin-top: -9px;
        };
      }
      p{
        margin-bottom: 0;
        border-bottom: 1px solid $brand-color;
        display: inline-block;
        position: relative;
        padding-left: 3px;
        padding-right: 3px;
        &::before,
        &::after{
          content: " ";
          position: absolute;
          bottom: -1px;
          display: inline-block;
          width: 0.5px;
          height: 4px;
          background: $brand-color;
        }
        &:before{
          #{$left}: 0;
        }
        &:after{
          #{$right}: 0;
        }
        @include if-ltr{
          line-height: 26px;
        }
      }
      label{
        @include font-size(14px);
        color: $brand-color;
        text-transform: uppercase;
        display: block;
        margin-bottom: 0;
        font-weight: 500;
        line-height: 1;
      }
    }
    @include media-breakpoint-down(xs){
      display: block;
      h5{
        @include font-size(15px);
        font-weight: 500;
        @include opacity(0.6);
        line-height: 1;
        margin-bottom: 10px;
      }
      > ul{
        margin-#{$left}: 0;
        border-#{$left}-width: 0;
        padding-#{$left}: 0 !important;
      }
    }
  }
  .img-ex{
    margin-top: 20px;
    img{
      max-width: 420px;
    }
  }
  form{
    margin-top: 20px;
    margin-bottom: 48px;
    .float-label:first-child{
      padding-#{$left}: 0;
    }
    @include media-breakpoint-down(sm){
      margin-left: -15px;
      margin-right: -15px;
      .col-md-auto{
          padding-left: 15px;
          padding-right: 15px;
      };
      .float-label{
        &:first-child{
          padding-#{$left}: 15px;
          .select__control{
            border-bottom-#{$left}-radius: $border-radius-base;
          }
        }
        &:nth-child(3){
          padding-#{$right}: 15px;
          .select__control{
            border-bottom-#{$left}-radius: 0;
          }
        }
      }

    };
    @include media-breakpoint-down(xs){
      margin-top: 15px;
      margin-bottom: 20px;
    };
  }
}
.top-selling{
  padding-top: 50px;
}
.vehicle-img{
  border-bottom-#{$left}-radius: $border-radius-base;
  border-bottom-#{$right}-radius: $border-radius-base;
  overflow: hidden;
  position: relative;
  height: 370px;
  @include media-breakpoint-down(sm){
    height: 330px;
  };
  > div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    #{$left}: 0;
    &.bg-overlay{
      @include  gradient-y(rgba(255,255,255, 0), rgba(0,0,0, 1),  65%, 100%);
      @include media-breakpoint-down(sm){
        @include  gradient-y(rgba(255,255,255, 0), rgba(0,0,0, 1),  50%, 100%);

      }
    }
    &.bg-brand{
      @include gradient-x($brand-color, #000, $start-percent: 0%, $end-percent: 100%);
      @include opacity(0.3);
    }
  }
  img{
    height: auto;
    min-height: 100%;
    width: auto;
    max-width: 1270px;
    position: relative;
    #{$left}: 50%;
    @include if-ltr{
      transform: translate(-50%, 0);
    };
    @include if-rtl{
      transform: translate(50%, 0);
    };
  }
}
.vehicle-info{
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  @include media-breakpoint-down(sm){
    bottom: 20px;
  }
  .header-label{
    line-height: 1;
  }
}
.selected-vechile{
  &.home{
    @include media-breakpoint-down(xs){
      margin-right: -15px;
      margin-left: -15px;
    };
  }
  .vehicle-info{
    .header-label,h3{
      color: $white;
      font-weight: 400;
    }
    .header-label{
      margin-bottom: 8px;

    }
  }
}
