*{
  outline: none !important;
}
body{
  overflow-x: hidden;
  height: auto;
  @include if-rtl{
    text-align: right;
  };
 }
body,html{
color: $basic-gray;
}
.cd-main-content{
  padding-top: $header-height;
  background: $white;
  @include nav-sm-media{
    padding-top: 60px;
  };
}
.list-inline{
  @include padding-left(0);
  li{
    @extend .list-inline-item;
  }
  margin-bottom: 0;
}
.div-border-radius{
  border-radius: corner-values(20px 0 20px 20px) !important;
}
.box-shadow{
  box-shadow: 0px 18px 18px 0px rgba(0, 0, 0, 0.07);
}
