#confirm-signup{
  .content{
    text-align: center;
    background-color: #f6f6f6;
    img{
      margin-top: 53px;
      width: 92px;
      height: 97px;
      opacity: .1;
      margin-bottom: 23px;
    }
    p{
      font-family: Roboto;
      @include font-size(50px);
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $basic-gray;
      margin-bottom: 40px;
      span{
        border-bottom:1px solid red;
      }
    }
    h5{
      font-family: Roboto;
      @include font-size(18px);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      margin-bottom: 40px;
      color: var(--dark-charcoal-grey);
      span{
        color: #ee4036;
      }
    }
    div{
      text-align: $right;
      margin: side-values(0px 127px 0px 0px) !important;
      img{
        background: none;
        margin: 0px;
        max-width: 50px;
        height: 45px;
        opacity: 1;
      }
      a{
        margin: 0px;
        font-family: Roboto;
        @include font-size(12px);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        display: inline-block;
        text-align: center;
      }
      .bg-whatsapp{
        width: 151px;
        height: 46px;
        background: linear-gradient(to top, #f9f9f9, $white);
        text-transform: none;
        color: black;
        border-radius: corner-values(20px 20px 0px 20px) !important;
        span{
          width: 90px;
          text-align: left;
        }
      }
    }
    .btn-primary{
      width: 207px;
      height: 55px;
      background: $white;
      text-transform: none;
      color: black;
      margin-right: 4px;
      margin-bottom: 216px;
      border-radius: corner-values(0px 0px 0px 20px) !important;
    }
     .btn-open-G{
      border-style: none;
      width: 206px;
      height: 55px;
      background: $brand-color;
      text-transform: none;
      color: white;
      border-radius: corner-values(0px 20px 20px 0px) !important;
      margin-bottom: 170px;
      i{
        margin-#{$left}: 10px;
      }
    }
  }
}
#confirm-signup-mobile{
  .content{
    text-align: center ;
    background-color: #f6f6f6;
    padding-top: 40px;
    img{
      width: 145px;
      height: 126px;
      opacity: .1;
      margin-bottom: 28px;
    }
    p{
      font-family: Roboto;
      @include font-size(50px);
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $basic-gray;
      margin-bottom: 40px;
      span{
        border-bottom:1px solid red;
      }
    }
    h5{
      margin-#{$left}: 33px;
      margin-#{$right}: 32px;
      font-family: Roboto;
      @include font-size(20px);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      margin-bottom: 30px;
      color: var(--dark-charcoal-grey);
      span{
        color: #ee4036;
      }
    }
    .btn-primary{
     border-style: none;
     height: 55px;
     width: 94%;
     text-transform: none;
     @include font-size(20px);
     background: $white;
     color: black;
     border-radius: corner-values(0px 20px 20px 20px) !important;
     margin-top: 22px;
     @include box-shadow;
   }
   .btn-open-G{
     border-style: none;
     height: 55px;
     width: 94%;
     text-transform: none;
     @include font-size(20px);
     background: $brand-color;
     color: white;
     border-radius: corner-values(0px 20px 20px 20px) !important;
     margin-top: 22px;
     margin-bottom: 150px;
     @include box-shadow;
     i{
       margin-#{$left}: 10px;
     }
   }
   div{
     text-align: $right;
     margin: side-values(0px 127px 0px 0px) !important;
     img{
       background: none;
       margin: 0px;
       width: 50px;
       height: 45px;
       opacity: 1;
     }
     a{
       margin: 0px;
       font-family: Roboto;
       @include font-size(12px);
       font-weight: normal;
       font-style: normal;
       font-stretch: normal;
       line-height: 1.17;
       letter-spacing: normal;
       display: inline-block;
       text-align: center;
     }
     .bg-whatsapp{
       width: 151px;
       height: 46px;
       background: $white;
       text-transform: none;
       color: black;
       border-radius: corner-values(20px 20px 0px 20px) !important;
       span{
         width: 90px;

         text-align: left;
       }
     }
   }
  }
}
