#signup {
  padding-top: 65px;
  background: $light-gray;
  text-align: $left;

  .container-fluid {
    > .row {
      margin-top: 46px;
    }
  }
  
  @include small-screen {
    padding-top: 0;
  }

  .form-group {
    margin-bottom: 40px;
  }

  .shadow-input {
    @include rounded-rectangle;
  }

  .group-shadow-input {
    height: 55px;
    top: 32px;
  }

  #title {
    h1 {
      color: $basic-gray;
      font-weight: 300;
      @include font-size(50px);
      text-transform: capitalize;
    }
    .red-line {
      max-width: 153px;
      height: 1px;
    }
  }
  .select-input {
    label {
      @include font-size(16px);
      padding-#{$left}: 13px;
    }
  }
  .RenderField {
    input {
      border-radius: corner-values(20px 0 20px 20px) !important;
      height: 55px;
      padding-#{$left}: 20px;
      width: 100%;
      background: $white;
    }
    input::placeholder {
      color: $charcoal-grey-two-40;
    }
    label {
      @include font-size(16px);
      padding-#{$left}: 13px;
    }
  }
  .row {
    position: relative;
  }

  .signup-form__two-inputs {
    .col-6:nth-child(2) {
      input {
        border-radius: corner-values(20px 0 0 20px) !important;
      }
    }
    .col-6:nth-child(3) {
      padding-#{$left}: 10px;
      input {
        border-radius: corner-values(0 0 20px 0) !important;
      }
    }
  }

  #country-city {
    .select {
      background: $white;
      width: 100%;
      height: 55px;
      @include box-shadow;
      .select__control {
        height: 100%;
      }
    }
    > .form-group:first-child {
      margin-#{$right}: 10px;
    }
    > div:first-child {
      .select {
        border-radius: corner-values(20px 0 20px 20px) !important;
      }
    }
  }

  #bottom {
    display: flex;

    @include small-screen {
      display: block;
    }

    button {
      height: 51px;
      text-transform: capitalize;
      margin-#{$left}: auto;

      @include small-screen {
        width: 100%;
        margin-#{$left}: 0;
        margin-bottom: 64px;
        text-align: $right;
      }
    }
    i {
      @include padding-left(10px);
    }

    > p {
      @include font-size(15px);
      line-height: 25px;
      padding: 0px 8px;
      margin-bottom: 255px;
      @include small-screen {
        margin-bottom: 0;
      }
      span {
        display: block;
        .btn-link {
          color: $brand-color;
        }
      }
    }
  }

  #signin-link {
    display: inline-flex;
    align-items: baseline;
    .user-img {
      width: 17px;
      img {
        max-width: 100%;
      }
    }
    > span:nth-child(2) {
      position: relative;
      top: 5px;
      padding-#{$left}: 4px;
      @include font-size(18px);
    }
    .btn-link {
      position: relative;
      color: $brand-color;
      padding: 4px 4px;
      text-transform: inherit;
    }
  }
  #right-half {
    text-align: center;
  }
  #social-media {
    position: relative;
    top: -8px;
    margin-bottom: 24px;
  }
  .row > .column:nth-child(2) {
    text-align: center;
  }
  .seperator {
    @include medium-screen {
      position: absolute;
      display: list-item;
      list-style: none;
      height: 570px;
      background: $very-light-grey;
    }
  }
  #social-media-info {
    @include font-size(15px);
    p {
      margin-bottom: 46px;
    }
  }

  .ReactPasswordStrength {
    border-radius: corner-values(20px 0 20px 20px) !important;
    box-shadow: none;
    width: 100%;

    .ReactPasswordStrength-input {
      @include font-size(16px);
    }

    .ReactPasswordStrength-strength-bar {
      position: absolute;
      height: 4px;
      top: 104px;
      #{$left}: 0;
    }

    .ReactPasswordStrength-strength-desc {
      width: auto;
      top: 83px;
      padding: 0;
      #{$right}: 0;
      #{$left}: unset;
    }
  }
  .one_shadow-input {
    input {
      @include box-shadow;
    }
  }
}
