.Layout {
 width: 100%;
 justify-content: flex-end;
}

.Layout-vehcile-dialog {
 position: relative;
 margin: 0 auto;
 clear: left;
 height: auto;
 z-index: 0;
 top: 0px;
}

.Layout-nav-popup {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.Layout-nav-garage_popup {
 align-items: flex-start;
 width: 22em;
}

.Layout-top_nav {
 display: flex;
 width: 100%;
 justify-content: space-evenly;
}