.Addresses-container {
 display: flex;
 flex-direction: column;
 margin: 5em 0px 0px 6em;
}

.addresses-box {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 width: 40em;
 height: 5em;
}

.addresses-box_item {
 display: flex;
 flex-direction: row;
 width: 40em;
}

.Addresses-button {
 display: flex;
 justify-content: flex-end;
}

.Addresses-footer {
 display: flex;
 align-items: baseline;
}

.Addresses-container .btn-link {
 color: #6c757d;
}