.empty{
  .icon-vehicle{
    display: inline-block;
  }
  .rotate{
    display: inline-block;
    margin-bottom: 0;
    @include font-size(100px);
    font-weight: 300;
    position: relative;
    color: #e2e2e3;
    line-height: 0.8;
    #{$left}: -15px;
    top: -10px;
    span{
      position: absolute;
      transform: rotate(90deg);
      @include font-size(15px);
      color: $basic-gray;
      top: 31px;
      #{$left}: 4px;
    }
  }
}

.setting-popup{
  .modal-header{
  .icon-add-vehicle{
    @include font-size(45px);
    &:before{
      top: -11px;
    }
  }
}
.add-file{
  .RenderField{
      border-radius: 20px;
  }
}

}
