.orders-main{
.search-order{
  display: flex;
  .select-input,
  .search-input{
    background: $white;
    height: 35px;
    display: flex;
    align-items: center;
  }
  .select-input{
    padding: 0 10px;
    max-width: 150px;
    border-bottom-#{$left}-radius: $border-radius-base;
    border-top-#{$left}-radius: $border-radius-base;
    margin-#{$right}: 5px;
  }
  .select__single-value{
    font-weight: 400;
  }
  .search-input{
    border-bottom-#{$right}-radius: $border-radius-base;
    position: relative;
    i{
      position: absolute;
      #{$left}: 13px;
      top: 4px;
      @include font-size(21px);
      height: 20px;
      z-index: 0;
      @include opacity(1);
    }
    input{
      background: transparent;
      min-height: 35px;
      border-bottom-#{$right}-radius: $border-radius-base;
      width: 45px;
      position: relative;
      z-index: 1;
      padding-#{$left}: 30px;
      cursor: pointer;
      @include transition(all, 0.5s, ease);
      &:focus,
      &:not(:placeholder-shown){
        width: 200px;
        padding-#{$left}: 40px;
        cursor: text;
        + i{
          @include opacity(0.5);
        }
      }
    }
  }
}
.order-status{
  display: flex;
  align-items: flex-start;
  padding-top: 7px;
  @extend .list-inline;
  li{
    + li{
      border-left: 1px solid rgba(55, 54, 60, 0.2);
      padding-#{$left}: 0.5rem;
    }
  }
  a{
    display: flex;
    align-items: center;
    @include font-size(14px);
    i{
      @include opacity(0.5);
      @include font-size(18px);
      height: 18px;
      display: inline-block;
      margin-#{$right}: 5px;
      overflow: hidden;
      &.icon-shipping{
        @include font-size(29px);
        &:before{
          top: -6px;
        }
      }
    }
  }
}
.filter-result{
  padding-top: 1px;
  padding-bottom: 1px;
  background: rgba(55, 54, 60, 0.04);
  margin: 15px 0;
  @include border-radius-div;
  ul{
    margin: 10px 0;
  }
}
.data{
  width: 100%;
  border-bottom-right-radius: $border-radius-base;
  border-bottom-left-radius: $border-radius-base;
  overflow: hidden;
  th,
  td{
    padding: 15px;
    line-height: 1;
    white-space: nowrap;
  }
  th{
    @include opacity(0.5);
    @include font-size(14px);
    font-weight: 400;
    padding-top: 5px;
  }

  tbody{

    tr{
      + tr{
        border-top: 2px solid $light-gray;
      }
      &:first-child{
        td:first-child{
          border-top-#{$left}-radius: $border-radius-base;

        }
      }
      &:hover{
        button{
          color: $brand-color;
          @include opacity(1);
        }
      }
    }
    td{
      background: $white;
      @include font-size(16px);
      &:empty{
        display: none;
      }
      &:before{
        margin-#{$right}: 5px;
        top: 1px;
      }
      &.icon-shipping{
        position: relative;
        padding-#{$left}: 43px;
        &:before{
          position: absolute;
          @include font-size(25px);
          top: 11px;
          #{$left}: 15px;
        }
      }
      button{
        background: transparent;
        border-width: 0;
        @include opacity(0.5);
        cursor: pointer;
        i{
          margin-#{$right}: 5px;
          &:before{
            top: 1px;
          }
        }

      }
    }
  }

}
  .card{
    background: none;
  }
  .Orders-search{
    margin-top: -15px;
    .col-9{
      @include padding-left(0px);
    }
    @include padding-left(0px);
    display: flex;
    margin-bottom: 16px;
    .select-input{
      .css-10nd86i {
        width: 100%;
        background-color: $white;
        border-radius: corner-values(20px 0 20px 20px) !important;
        border: none !important;
        position: relative !important;
        padding: 10px;
        .select__value-container{
          width: 10px;
        }
      }
      label,
      br,sub{
        display: none;
      }
    }
    .RenderField{
      border-radius: corner-values(0 20px 20px 20px);
      border: none !important;
      label,
      br,sub{
        display: none;
      }
      input{
        border-radius: corner-values(0 20px 20px 20px);
        border: none !important;
      }
    }
    .btn-div{
      display: flex;
      .btn-light{
        padding: 0px;
        background: none;
        display: flex !important;
        i{
          opacity: 0.5;
          font-size: 16px;
        }
        span{
          font-family: Roboto;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 20px;
          letter-spacing: normal;
          text-align: left;
          @include margin-left(3px);
        }
      }
      .seperator{
        width: 1px;
        height: 19px;
        @include margin-left(10px);
        @include margin-right(10px);
      }
    }
  }
  .seperator{
    width: 100%;
    height: 2px;
    opacity: 0.2;
    margin-bottom: 26px;
  }
}
