.account-setting{
  > ul{
    @include border-radius-div;
    overflow: hidden;
    li{
      background: $white;
      h5{
        padding: 15px;
        border-bottom: 2px solid $light-gray;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 0;
      }
      + li{
        margin-top: 10px;
      }
      .phone-code{
        border-bottom-#{$left}-radius: $border-radius-base !important;
      }
    }
  }
  .input-sec{
    padding: 15px 15px;
    .first-col{
      [class*='col']:first-child{
        input,
        .has-float-label{
          border-bottom-#{$left}-radius: 0 !important;
        }
      }
      [class*='col']:last-child{
        input,
        .has-float-label{
          border-bottom-#{$right}-radius: 0 !important;
        }
      }
    }
    .form-row{
      &:last-child{
        .has-float-label{
          margin-bottom: 0;
        }
      }
    }

  }
  .user-img{
    width: auto;
    figure{
      width: 65px;
      height: 65px;
      background: $basic-gray;
      border-radius: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      i{
        @include font-size(30px);
        color: $white;
        height: 30px;
        &:before{
          top: -2px;
        }
      }
    }
    .upload{
      @include link-border-radius;
      position: relative;
      background: $light-gray;
      @include font-size(16px);
      display: inline-flex;
      padding: 11px 20px;
      margin-#{$left}: 15px;
      .icon-upload-photo{
        @include font-size(23px);
        height: 23px;
        margin-#{$right}: 5px;
        &:before{
          top: -2px;
        }
      }
      .input-file{
        background: transparent;
        width: 100%;
        height: 100%;
        #{$right}: 0;
        button{
          @include link-border-radius;

          width: 100%;
          img{
            display: none;
          }
        }
        .file-thumb{
          top: -16px;
          #{$left}: -78px;
          .img-attached{
            width: 65px;
            height: 65px;
            border-radius: 100%;
          }
          a{
            #{$right}: 3px;
          }
        }
      }
    }
  }
  .change-password{
    @include font-size(17px);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 340px;
    height: 55px;
    i{
      @include font-size(37px);
      height: 25px;
      margin-#{$right}: 5px;
      &:before{
        top: -9px;
      }
    }
  }
  .checkbox-container{
    margin-bottom: 20px;
  }
  .change-lang{
    @include media-breakpoint-up(md){
      max-width: 340px;
    };
  }
}
.profile-footer{
  margin-top: 20px;
  .row{
    position: relative;
    .action-shadow{
      position: absolute;
      @include box-shadow;
      @include link-border-radius;
      width: calc(100% - 30px);
      #{$left}: 15px;
      height: 100%;
    }
    .col-auto{
      padding-#{$right}: 0;
    }
    .col{
      padding-#{$left}: 10px;

    }
  }
  .btn{
    display: flex;
    align-items: center;
    height: 50px;
  }
  .btn-light{
    @include font-size(17px);
    border-bottom-#{$right}-radius: 0 !important;
    border-top-#{$right}-radius: 0 !important;
    &:hover{
      background: $light-gray;
    }
  }
  .btn-primary{
    @include font-size(20px);
    border-bottom-#{$left}-radius: 0 !important;
    justify-content: flex-end;
    width: 100%;
    text-transform: capitalize;
    i{
      @include font-size(23px);
      height: 23px;
    }
    &:hover{
      padding-#{$right}: 30px;
    }
  }
}
