/*container max width*/
.container-fluid {
  max-width: $max-container;
}
a,input,button{
  @include transition(all, 0.5s, ease);
}
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: 0;
}
h1{
  @extend .text-uppercase;
}
.input{
  border: 0;
  background: $light-gray;
  min-height: 50px;
  &:focus{
    background: $light-gray;
    box-shadow: 0 0 0 0.2rem rgba(237, 64, 54, 0.25);
  }
}
input::placeholder {
  @include font-size(14px);
}
label {
  text-transform: capitalize;
}
img{
  max-width: 100%;
}
.pt-sec{
  padding-top: 70px;
  @include media-breakpoint-down(md){
    padding-top: 40px;
  };
  &.gray-bg{
    padding-bottom: 70px;
    @include media-breakpoint-down(md){
      padding-bottom: 40px;
    };
  }
}
.p-inner-sec{
  padding-top: 40px;
  padding-bottom: 40px;
}
.artical-space{
  margin-bottom: 40px;
  @include media-breakpoint-down(lg){
    margin-bottom: 10px;
  };
}
.header-space{
  margin-bottom: 30px;
}
.cd-main-content{
  overflow-x: hidden;
}
