/*UNCTIONS*/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

/*MIXIN*/

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin padding-left($size) {
  padding-#{$left}: $size !important;
}

@mixin padding-right($size) {
  padding-#{$right}: $size !important;
}

@mixin margin-right($size) {
  margin-#{$right}: $size !important;
}

@mixin margin-left($size) {
  margin-#{$left}: $size !important;
}

@mixin link-border-radius {
  border-radius: corner-values(0 20px 20px 20px) !important;
}

@mixin rounded-rectangle {
  border-radius: side-values(20px 0 20px 20px) !important;
  @include box-shadow;
}

@mixin container-fluid {
  max-width: $max-container;
}

@mixin seperator {
  width: 1px;
  background: #ccc;
  display: inline-block;
  vertical-align: middle;
}
@mixin h-seperator {
  width: 100%;
  background: #ccc;
  display: inline-block;
  vertical-align: middle;
}

@mixin q-placeholder {
  font-family: Roboto;
  @include font-size(14px);
  font-weight: normal !important;
}

@mixin w-100 {
  width: 100%;
}
@mixin w-sm-100 {
  @include small-screen {
    width: 100%;
  }
}

@mixin w-md-100 {
  @include medium-screen {
    width: 100%;
  }
}

@mixin border-radius-div {
  border-radius: $border-radius-base 0 $border-radius-base $border-radius-base;
}

@mixin fill-border-right($size, $color) {
  @if $size == none {
    border-#{$right}: none;
  } @else {
    border-#{$right}: $size $color solid;
  }
}

@mixin fill-border-left($size, $color: $white) {
  @if $size == none {
    border-#{$left}: none;
  } @else {
    border-#{$left}: $size $color solid;
  }
}

@mixin text-capitalize {
  text-transform: capitalize !important;
}

@mixin text-uppercase {
  text-transform: uppercase !important;
}

@mixin text-right {
  text-align: $right !important;
}

@mixin text-left {
  text-align: $left !important;
}

@mixin d-inline {
  display: inline;
}

@mixin d-block {
  display: block;
}

@mixin d-inline-block {
  display: inline-block;
}

//@include font

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url('#{$file-path}/#{$font-family}.eot');
    src: url('#{$file-path}/#{$font-family}.eot?#iefix') format('embedded-opentype'),
      url('#{$file-path}/#{$font-family}.woff') format('woff'),
      url('#{$file-path}/#{$font-family}.ttf') format('truetype'),
      url('#{$file-path}/#{$font-family}.svg##{$font-family}') format('svg');
  }
}

@mixin bg-img-responsive($img-size) {
  -webkit-background-size: $img-size;
  -moz-background-size: $img-size;
  -o-background-size: $img-size;
  background-size: $img-size;
}
@mixin bg-color-alpha($red, $green, $blue, $alpha) {
  background-color: rgba($red, $green, $blue, $alpha);
}
@mixin text-color-alpha($red, $green, $blue, $alpha) {
  color: rgba($red, $green, $blue, $alpha);
}

//box shadow

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

//box shadow
@mixin box-shadow-size($left, $top, $blur, $size, $color) {
  -webkit-box-shadow: $left $top $blur $size $color;
  -moz-box-shadow: $left $top $blur $size $color;
  box-shadow: $left $top $blur $size $color;
}

@mixin innerbox-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: inset $top $left $blur $color;
  -moz-box-shadow: inset $top $left $blur $color;
  box-shadow: inset $top $left $blur $color;
}

// Opacity

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
}

//animate

@mixin animat-delay($delay) {
  -webkit-animation-delay: $delay; /* Chrome, Safari, Opera */
  animation-delay: $delay;
}

@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(
    top,
    $start-color $start-percent,
    $end-color $end-percent
  ); // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent); // Opera 12
  background-image: linear-gradient(
    to bottom,
    $start-color $start-percent,
    $end-color $end-percent
  ); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

/* @include transition(all,2s,ease-out); */
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition: $what $time $how;
  -ms-transition: $what $time $how;
  -o-transition: $what $time $how;
  transition: $what $time $how;
}

@mixin boarder-left-radius($top: 20px, $bottom: 20px) {
  border-top-left-radius: $top;
  border-bottom-left-radius: $bottom;
}

@mixin boarder-right-radius($top: 20px, $bottom: 20px) {
  border-top-right-radius: $top;
  border-bottom-right-radius: $bottom;
}

@mixin large-medium-screens {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin small-screen {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin medium-screen {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin large-screen {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin x-large-screen {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin box-shadow {
  box-shadow: 0px 18px 18px 0px rgba(0, 0, 0, 0.07);
}

//mega nav sm breakpoint
@mixin nav-sm-media {
  @media only screen and (max-width: 1169px) {
    @content;
  }
}
@mixin nav-lg-media {
  @media only screen and (min-width: 1170px) {
    @content;
  }
}
