/*FONT*/
$title-font: 'Roboto';
$button-font: 'Roboto';

//COLOR
$basic-gray: #37363c;
$basic-black: #222222;
$light-gray: #f8f8f8;
$light-gray-2: #c7c7c9;
$dark-gray: #efeeee;
$very-light-grey: #e2e2e2;
$brand-color: #ed4036;
$charcoal-grey: rgba(55, 54, 60, 0.6);
$charcoal-grey-two: rgba(55, 54, 61, 0.8);
$charcoal-grey-two-40: rgba(55, 54, 61, 0.4);
$charcoal-grey-80: rgba(55, 54, 60, 0.8);
$charcoal-grey-two-80: rgba(55, 54, 61, 0.8);
$dark-charcoal-grey : #37363c;
$light-charcoal-grey: rgba(55, 54, 60, 0.7);
$lighter-grey: rgba(55, 54, 61, 0.5);
$gainsboro-color: #DCDCDC;
$basic-white: rgba(255, 255, 255, 0.8);
$basic-dark-white: rgba(255, 255, 255, 0.5);
$basic-dark-white-70: rgba(255, 255, 255, 0.7);
$very-light-pink: rgba(235, 235, 235, 0.3);
$facebook-color: #475993;
$twitter-color: #03a9f4;
$dark-50: rgba(39, 39, 52, 0.5);
$dark-70: rgba(39, 39, 52, 0.7);
$dark-80: rgba(39, 39, 52, 0.8);
$green: #24b450;
$placeholder-color: rgba(55, 54, 60, 0.5);
//img
$img-path: "../../public/img";

//border-radius-base
$border-radius-base: 20px;

//BAS FONT SIZE
$bas-font-size: 16px;
$button-font-size: 20px;
$title-font-size: 55px;
$down-arrow-font-size: 25px;

//container width
$max-container : 1170px;
$max-container-popup : 900px;

// PADDING
$padding-left: 128px;

//ICON
$icon-path: "../../public/icon";
$icon-font-name: "q-parts-icons";
//sprite
.sprite{
  position: relative;
  background:  url("#{$img-path}/sprite.png") no-repeat transparent;
  display: block;
}

//bootstrap
$link-color : $basic-gray;
//$link-hover-decoration : none;
//$link-hover-color : ;
$font-family-base : 'Roboto', sans-serif;
//$border-radius : 10px;
