#header-fixed{
  width: 100%;
  z-index: 3;
  top: 0;
  background: $white;
  position: fixed;
  @include nav-sm-media{
    background: transparent
  };
}
.main-header{
  @include transition(all, 0.3s, ease);
  @extend .position-relative;
  z-index: 4;
  background: $white;
  border-bottom: 1px solid $light-gray;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 65px;
  @include nav-sm-media{
    display: none;
  };
}
.data-setting {
  position: relative;
  top: 10px;
  z-index: 4;
  .input-group {
    position: relative;
  }
  .ship-to {
    @include font-size(14px);
  }
  .select__value-container{
    padding: 1px 5px;
  }
  .select__menu{
    margin-top: 14px;
    z-index: 100;
  }
  .seperator {
    height: 20px;
  }
}
.lang {
      padding-#{$left}: 2px;
      @include if-ltr {
        font-family: 'Cairo', sans-serif;
        font-weight: 400;
      }
    }
.main-search{
    margin-top: 2px;
    @extend .input-group;
    .form-control{
      background: $light-gray;
      height: 40px;
      border-width: 0;
      padding-#{$right}: 40px;
      @extend .div-border-radius;
      &:focus{
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
      }
    }
    button{
      position: absolute;
      top: 0;
      #{$right}: 0;
      width: 35px;
      height: 40px;
      background: transparent;
      border-width: 0;
      z-index: 3;
      @extend .p-0;
      @extend .text-center;
      .icon-search{
        color: $basic-gray;
        height: 21px;
        @include font-size(20px);
        margin-#{$right}: 15px;
        margin-top: 1px;
      }
    }
  }
.brand{
    @extend .d-block;
    img{
      width: 117px;
      margin-top: -1px;
    }
  }
.user-actions{
  @extend .float-#{$right};
  margin-top: 13px;
  @include nav-sm-media{
    margin-top: 20px;
  };
  > ul{
    @extend .d-flex;
    @extend .list-unstyled;
    margin-bottom: 0;
    padding-bottom: 0;
    > li{
      margin-#{$right}: 15px;
      &:last-child{
        margin-#{$right}: 0;
      }
      &.search-sm{
        margin-#{$right}: 2px;
        margin-top: -2px;
      }
    }
  }
  .icon-cart {
    @include font-size(24px);
    height: 24px;
    &:before{
      top: -2px;
    }
  }
  .seperator {
    height: 20px;
    display: inline-table;
  }
  .dropdown-menu{
    overflow: hidden;
    border-radius: side-values(0px 0px $border-radius-base $border-radius-base);
    #{$left}: auto !important;
    #{$right}: 0 !important;
    top: 15px !important;
    border-width: 0;
    padding-bottom: 0;
    > h6{
      @extend .px-3;
      color: $basic-gray;
      @include font-size(16px);
      @include opacity(0.4);
      font-weight: 400;
      @extend .text-capitalize;
    }
    > p{
      @extend .px-3;
      @include font-size(15px);
      color: $charcoal-grey-two-40;
      a{
        color: $basic-gray;
        font-weight: 400;
        padding-#{$left}: 5px;
        i{
          @include transition(all, 0.5s, ease);
          padding-#{$left}: 5px;
          @include font-size(14px);

          &:before{
            top: 2px;
          }
        }
        &:hover{
          i{
            margin-left: 5px;
          }
        }
      }
    }
  }
}
.signin-list{
      @extend .mx-3;
      padding-left: 0;
      padding-right: 0;
      @extend .d-flex;
      @extend .flex-nowrap;
      margin-bottom: 17px;
      li{
        display: inline-block;
        margin-#{$right}: 5px;
        a{
          height: 40px;
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: center;
          min-width: 40px;
          background: $light-gray;
          display: block;
          .icon-facebook{
            @include font-size(19px);
          }
          > img{
            max-width: 18px;
            margin-top: -4px;
          }
          &:hover{
            background: darken($light-gray, 2%);
          }
        }
        &:first-child{
          a{
            @extend .btn-primary;
            padding-top: 7px;
            white-space: nowrap;
            border-radius: side-values(0 0 0 $border-radius-base) !important;
            text-transform: capitalize;
            @include font-size(18px);
            padding-left: 15px;
            padding-right: 15px;
            i{
              @include font-size(17px);
              margin-#{$left}: 3px;
              &:before{
                top: 3px;
              }
            }
          }
        }
        &:last-child{
          margin-#{$right}: 0;
          a{
            border-radius: side-values(0 0 $border-radius-base 0);

          }
        }
      }
    }
.account-actions{
      @extend .px-3;
      background: $light-gray;
      @extend .list-unstyled;
      @extend .d-flex;
      @extend .mb-0;
      > li{
        //@extend .flex-fill;
        a{
          padding: 5px 10px;
          @include font-size(13px);
          @extend .d-flex;
          white-space: nowrap;
          i{
            padding-#{$right}: 5px;
          }
          .icon-shopping-bag{
            @include font-size(17px);
          }
          .icon-send{
            @include font-size(18px);
          }
          img{
            max-width:18px;
            height: 18.5px;
            margin-#{$right}: 5px;

          }
        }

      }
    }
.user-account {
    @include font-size(13.8px);
    @include nav-sm-media{
      display: none !important;
    };
    .user-img {
      margin-#{$right}: 5px;
      top: -1px;
      width: 20px;
      img {
        max-width: 100%;
      }
    }
    .seperator {
      height: 12px;
      margin: -1px 5px 0;
    }
    b {
      font-weight: 500;
    }
  }
.slideUp {
  .main-header{
    @include opacity(0);
  }
}
.slideDown {
  .main-header{
    @include opacity(1);
  }
}
