#home-details {
  @include large-medium-screens{
    margin-top: 77px;
  }
  @include small-screen{
    margin-top: -117px;
  }

  .custom-order-arrow{
      color: #ededed;
      @include font-size(20px);
  }
  

  figcaption {
    h3 {
      color: $dark-charcoal-grey;
      font-weight: normal;
    }
    span {
      display: block;
    }
  }

  form {
    button {
      span {
        text-transform: capitalize;
      }
    }
  }

  header > {
    .ellipse {
      position: absolute;
      top: 4px;
      @include large-medium-screens{
        left: -23px;
      }
      @include small-screen{
        left: -5px;
      }
      
    }
    h2 {
      @include font-size(25px);
      text-transform: uppercase;
      @include small-screen{
        margin-left: 20px;
      }
    }
  }

  .ellipse {
    i {
      position: relative;
      left: 5px;
      bottom: 2px;
      @include font-size($down-arrow-font-size);
      color: $gainsboro-color;
    }
  }

  .input-group {
    .ellipse {
      position: absolute;
      right: 2px;
      z-index: 10;
      box-shadow: none;
      margin-top: 4px;
      margin-right: 10px;
      min-width: 43px;
      min-height: 43px;

      i {
        input {
          display: none;
        }
        button {
          background: none;
          color: inherit;
          border: none;
          padding: 0;
          font: inherit;
          cursor: pointer;
          outline: inherit;
        }
      }
    }
  }

  .upload-file {
    input {
      border: 0;
      background: $light-gray;
      min-height: 51px;
    }
  }

  .upload-img {
    margin-left: 4px;
    margin-top: 9px;
  }

  .input-group {
    .boarder-right-bottom-radius {
      @include boarder-right-radius(0, 20px);
    }
    .boarder-left-radius {
      @include boarder-left-radius(20px, 20px);
    }

    .part-name-input{
      @include large-medium-screens{
        @include boarder-left-radius;
      }
      @include small-screen{
        @include boarder-left-radius(20px, 0);
        margin-bottom: 4px;
      }
    }

    .vin-input{
      @include large-medium-screens{
        @include boarder-right-radius(0, 20px);
      }
      @include small-screen{
        @include boarder-left-radius(0, 20px);
        @include boarder-right-radius(0, 20px);
        margin-bottom: 8px;
      }
    }
  }

  .w-sm-100 {
    @include small-screen {
      width: 100%;
    }
    @include small-screen {
      width: 100%;
    }
  }
}

#catagory-imgs {
  @include large-medium-screens{
    margin-top: 120px;
  }

  @include small-screen{
    margin-top: 70px;
  }

  

  h3 {
    color: white;
  }
  figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mt-lg-3 {
    @include large-screen {
      margin-top: 1rem;
    }
    @include medium-screen {
      margin-top: 0;
    }
  }

  .spare-part-img-container{
    img{
      @include large-medium-screens{
        @include boarder-left-radius(20px, 20px);
        content: url(/img/vehicle-part-lg.png);
        bottom: 0;
      }
      @include small-screen{
        @include boarder-left-radius(20px, 0);
        content: url(/img/vehicle-part-lg.png); 
        max-height: 199px;
      }
      
    }
  }

  .motor-oil-img-container{
    img{
      @include large-medium-screens{
        padding-bottom: 17px;
        content: url(/img/motor-oil.png); 
      }
      @include small-screen{
        content: url(/img/motor-oil.png); 
        max-height: 178px;
      }
      
    }
  }

  .tyre-img-container{
    img{
      @include large-medium-screens{
        content: url(/img/tyres.png); 
      }
      @include small-screen{
        content: url(/img/tyres.png); 
        max-height: 178px;
      }
      
    }
  }
  
  .tools-img-container{
    img{
      @include large-medium-screens{
        padding-bottom: 17px;
        content: url(/img/tools.png); 
      }
      @include small-screen{
        @include boarder-left-radius(0, 20px);
        content: url(/img/tools.png); 
        max-height: 178px;
      }
      
    }
  }

  .accessories-img-container{
    img{
      @include boarder-right-radius(0, 20px);
      @include large-medium-screens{
        content: url(/img/accessories.png);
      }
      @include small-screen{
        
        content: url(/img/accessories.png);
        max-height: 179px;

      }
    }
  }

}

#join-us {
  margin-top: 30px;
  @include small-screen{
    margin-bottom: 70px;
  }
  h1 {
    color: white;
    @include font-size(25px);
  }
  p {
    color: $basic-white;
    @include font-size(20px);
    margin: 0;
  }

  div {
    position: relative;
    @include boarder-left-radius(20px, 20px);
    @include boarder-right-radius(0, 20px);
    overflow: hidden;
  }

  button {
    min-height: 51px;
    margin-left: 12px;
    text-transform: capitalize;
  }

  .row > .col-12 > .d-flex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include small-screen {
      width: 100%;
      left: 58%;
    }

    @include small-screen {
      display: block !important;
      text-align: center;
      left: 58%;
    }
  

  }

  .vendor-img-container{
    img{
      @include boarder-left-radius(20px, 20px);
      @include boarder-right-radius(0, 20px);
      @include large-medium-screens{
        width: 100%;
        content: url(/img/vendor.png);
      }
      @include small-screen{        
        content: url(/img/vendor.png);
        min-height: 159px;
        max-width: 450px;
       
      }
    }
  }
}

#mobile-header-details {
  button {
    font-size: inherit;
    i {
      left: 0;
    }
  }
}
