#home-details {
  margin-top: 77px;

  figcaption {
    h3 {
      color: $dark-charcoal-grey;
      font-weight: normal;
    }
    span {
      display: block;
    }
  }

  form {
    button {
      span {
        text-transform: capitalize;
      }
    }
  }

  header > {
    .ellipse {
      position: absolute;
      top: 4px;
      left: -23px;
    }
    h2 {
      @include font-size(25px);
      text-transform: uppercase;
    }
  }

  .ellipse {
    i {
      position: relative;
      left: 5px;
      bottom: 2px;
      @include font-size($down-arrow-font-size);
      color: $gainsboro-color;
    }
  }

  .input-group {
    .ellipse {
      position: absolute;
      right: 2px;
      z-index: 10;
      box-shadow: none;
      margin-top: 4px;
      margin-right: 10px;
      min-width: 43px;
      min-height: 43px;

      i {
        input {
          display: none;
        }
        button {
          background: none;
          color: inherit;
          border: none;
          padding: 0;
          font: inherit;
          cursor: pointer;
          outline: inherit;
        }
      }
    }
  }

  .upload-file {
    input {
      border: 0;
      background: $light-gray;
      min-height: 51px;
    }
  }

  .upload-img {
    margin-left: 4px;
    margin-top: 9px;
  }

  .input-group {
    .boarder-right-bottom-radius {
      @include boarder-right-radius(0, 20px);
    }
    .boarder-left-radius {
      @include boarder-left-radius(20px, 20px);
    }
  }

  .w-sm-100 {
    @include x-small {
      width: 100%;
    }
    @include small {
      width: 100%;
    }
  }
}

#catagory-imgs {
  margin-top: 120px;

  h3 {
    color: white;
  }
  figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mt-lg-3 {
    @include large {
      margin-top: 1rem;
    }
    @include medium {
      margin-top: 0;
    }
  }

  .vehicle-part-img {
    @include boarder-left-radius(20px, 20px);
  }

  .accessories-img {
    @include boarder-right-radius(0, 20px);
  }
}

#join-us {
  margin-top: 30px;
  h1 {
    color: white;
    @include font-size(25px);
  }
  p {
    color: $basic-white;
    @include font-size(20px);
    margin: 0;
  }

  div {
    position: relative;
  }

  button {
    min-height: 51px;
    margin-left: 12px;
    text-transform: capitalize;
  }

  .row > .col-12 > .d-flex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include x-small {
      width: 100%;
      left: 58%;
    }

    @include small {
      display: block !important;
      text-align: center;
      width: 100%;
      left: 58%;
    }
  }

  .vendor-img {
    @include boarder-left-radius(20px, 20px);
    @include boarder-right-radius(0, 20px);
    width: 100%;

    @include x-small {
      background-image: url(/img/vendor-xs.jpg);
      min-height: 159px;
    }
  }
}
