.main-nav{
  @extend .position-relative;
  z-index: 3;
  background: $white;
  .sub-nav{
    min-height: 2px;
    @extend .default-header-bg;
    margin-bottom: 30px;
  }
}
.cd-nav{
  ul{
    @extend .list-unstyled;
    @extend .m-0;
  }
  .cd-primary-nav{
    padding-inline-start: 0;
    > li{
      @extend .m-0;
      position: relative;
      > a{
        margin: 8px 0;
        padding: 10px;
        font-weight: 500;
        @include font-size(15px);
        line-height: 11.5px ;

        .selected{
          font-weight: 700;
        }
      }

      &.has-children{
        a{
            &::before{
              display: none;
            }
            &::after{
              display: none;
            }
        }
      }
      .cd-secondary-nav{
        top: 47px;
        width: auto;
        @extend .p-0;
        @extend .div-border-radius;
        border-top-left-radius: 0 !important;
        @include opacity(0) ;
          visibility: hidden !important;
          display: none !important;
          border-top: 2px solid $basic-gray;
          min-width: 250px;

        &:after {
            	bottom: 100%;
            	#{$left}: 10px;
            	border: solid transparent;
            	content: " ";
            	height: 0;
            	width: 0;
            	position: absolute;
            	pointer-events: none;
            	border-color: rgba(0, 0, 0, 0);
            	border-bottom-color: $basic-gray;
            	border-width: 7px;

        }

          > li{
            border-bottom: 1px solid $light-gray;
            > a{
              @include font-size(14px);
              padding: 8px 10px;
              @extend .text-capitalize;
              &:hover{
                background:$light-gray;
              }
            }
            &:last-child{
              border-bottom-width: 0;
              border-bottom-left-radius: 20px;
              border-bottom-#{$right}-radius: 20px;
            }
          }
      }
      &:hover{
        > a{
          background: $light-gray;
          @extend .link-border-radius;

        }
        ul.cd-secondary-nav{
          #{$left} : 0;
          @include opacity(1) ;
          visibility: visible !important;
          display:block !important;
        }
      }
      &.selected{
        a{
          background: $light-gray;
          @extend .link-border-radius;

        }
      }
    }
  }

}
