#products {

  @include small-screen{
    display: none;
  }
  
  margin-top: 102px;

  > div {
    background: $light-gray;
    .container-fluid {
      .row {
        margin-top: 55px;
      }
    }
  }

  .tab-content {
    margin-bottom: 55px;
  }

  #title {
    @include small-screen{
      display: none;
    }
    padding-top: 55px;

    hr {
      width: 255px;
    }
  }

  header {
    margin-top: 55px;
  }

  .seperator {
    height: 16px;
  }
}
