.product-details{
  @include text-left;
  @extend .gray-bg;
  padding-bottom: 70px;
  @include media-breakpoint-down(md){
    .breadcrumb{
      padding-top: 30px;
      padding-bottom: 0;
      padding-#{$left}: 0;
    }
  }
}
.pro-main-info{
  @extend .position-relative;
}
.pro-img-bg{
  @extend .position-absolute;
  top: 0;
  #{$right}: calc(50% + 15px);
  width: 100%;
  height: 100%;
  background: $white;
  border-bottom-#{$right}-radius: $border-radius-base;
  @include media-breakpoint-down(md){
    display: none;
  };
}
.pro-heading{
  background: rgba(55, 54, 61, 0.04);
  @include border-radius-div();
  @include media-breakpoint-down(md){
    padding-#{$left}: 15px;
    margin-#{$left}: -15px;
    border-top-#{$left}-radius: 0 !important;
    border-bottom-#{$left}-radius: 0 !important;
  };
  .btn{
    background: $white;
  }
  .back{
    padding: 10px 15px;
    margin-#{$left}: 20px;
    @include font-size(15px);
    line-height: 16px;
    i{
      @include font-size(10px);
      margin-#{$right}: 4px;
    }
    &:hover{
      background: $light-gray;
    }
  }

  h1{
    font-weight: 300;
    @include font-size(30px);
    line-height: 22px;
    padding: 22px 0 10px;
    margin-bottom: 0;
  }
  ul{
    margin-bottom: 15px;
  }
  li{
    @include font-size(15px);
    color: rgba(55, 54, 61, 0.8);
    & + li{
      &:before{
        @include opacity(0.8);
        content: "|";
        @include font-size(14px);
        position: relative;
        top: -2px;
        margin-right: 0.5rem;
      }
    }
  }
}
.add-fav{
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: side-values(20px 15px 0 0);
  background: $white;
  i{
    height: 25px;
    @include font-size(28px);
    &:before{
      top: -3px;
    }
  }
  &:hover{
    i{
      color: $brand-color;
    }
  }
}
.pro-img{
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  text-align: center;
  margin-bottom: 40px;
  margin-top:10px;
  max-height: 455px;
  overflow: hidden;
  padding-right: 15px;
  @include media-breakpoint-down(md){
    background: $white;
    border-bottom-#{$right}-radius: $border-radius-base;
    margin-#{$left}: -15px;
  };
}
.summary{
  margin-top: 20px;
  li{
    color: rgba(55, 54, 61, 0.8);
  }
  .price{
    color: $basic-gray;
    margin-bottom: 15px;
    margin-top: 10px;
    p{
      display: inline-block;
      margin-bottom: 0;
      @include font-size(40px);
      letter-spacing: -1px;
      label, span{
        letter-spacing: 0;
      }
      span{
        @include font-size(18px);
        text-transform: uppercase;
        padding-#{$left}: 4px;
      }
      label{
        @include font-size(14px);
        @include opacity(0.7);
      }
      & + p{
        @include margin-left(15px);
      }
    }
  }
  .pro-review{
    .review {
      @include text-lowercase
    }
    margin-bottom: 10px;
    > span, p{
      @include font-size(15px);
      margin-#{$left}: 0.5rem;
    }
    p{
      display: inline-block;
      margin-bottom: 0;
      &:before{
        @include opacity(0.8);
        content: "|";
        @include font-size(14px);
        position: relative;
        top: -2px;
        @include margin-right(0.5rem);

      }
    }
  }
  .pro-options{
    border-top: 1px solid #dddfe2;
    padding-top: 30px;
    padding-bottom: 21px;
    h5{
      @include font-size(18px);
      margin-bottom: 20px;
      font-weight: 400;
      color: $basic-gray;
      & + *{
            margin-bottom: 1rem;
          }
    }
    p{
      padding: 0 10px;
      @include font-size(15px);
      line-height: 23px;
    }

    .d-table{
      @include font-size(15px);
    }
    .d-table-cell{
      padding: 0 10px;
      line-height: 25px;
      &:first-child{
        @include opacity(0.7);
      }
    }
  }
  .add-cart{
    padding-bottom: 40px;
    @include media-breakpoint-down(sm){
      margin-top: -10px;
    }
    h5{
      font-weight: 400;
      @include font-size(15px);
      @include opacity(0.8);
      margin-#{$right}: 10px;
    }
    .col{
      padding-#{$left}: 0;
      @include media-breakpoint-down(sm){
        padding-#{$left}: 5px;
      };
    }
    .btn-primary{
      @include font-size(20px);
      text-transform: uppercase;
      width: 100%;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include media-breakpoint-down(xs){
        margin-top: 30px;
        border-bottom-#{$left}-radius: 0 !important;
      };
      i{
        @include font-size(30px);
        height: 29px;
      }
      &:hover{
        padding-#{$right}: 30px;
      }
    }
  }
  .quantity{
    display: inline-flex;
    max-width: 200px;
    input,
    .btn-gray{
      background: $white !important;
      height: 55px;
      @include media-breakpoint-down(xs){
        height: 40px
      };
    }
    .btn-gray{
      width: 55px;
      &:hover{
        background-color: $dark-gray !important;
      }
    }
    input{
      @include font-size(18px);
    }
    button:disabled{
      cursor: not-allowed;
      background: $white !important;
    }
  }
  .support{
    border-top: 1px solid #dddfe2;
    padding-top: 15px;
  }
  .chat-div{
    padding: 0;
    .media-body{
      padding-#{$left}: 7px;
    }
  }
}
.pro-review{
  > div:first-child{
    display: inline-block;
    top: 2px;
    span{
      font-size: 18px !important;
      line-height: 12px;
    }
  }

}
.details-heading{
    font-weight: 400;
    @include font-size(25px);
    margin-bottom: 20px;
  }
.pro-details{
  @include border-radius-div;
  overflow: hidden;
  margin-bottom: 0;
  > li{
    background: $white;
    margin-bottom: 20px;
    padding: 1.5rem 15px 1PX 15px;
    @include font-size(15px);

    line-height: 23px;
    &:last-child{
      margin-bottom: 0;
    }
    > *{
      margin-bottom: 1.5rem;
    }
  }
  .d-table{
    width: 100%;
    @include border-radius-div;
    overflow: hidden;
    border: 1px solid $very-light-grey;
    .d-table-row:nth-child(even){
      background: $light-gray;
    }
    .d-table-cell{
      padding: 5px 15px;
      &:first-child{
        color: $charcoal-grey-two-80;
      }
    }
  }
  h4{
    font-weight: 500;
    @include font-size(20px);
    display: inline-block;
    color: $basic-gray;
    border-bottom: 2px solid $basic-gray;
    margin-bottom: 1rem;
    &:after{
      clear: both;
    }
  }
  ul{
    padding-#{$left}: 20px;
    list-style-type: disc;
  }
  .q-hide-small{
    display: none;
  }
  .q-display-small{
    display: none;
  }
}
.side-banner{
  padding-top: 48px;
}
.review-details{
  @include border-radius-div;
  overflow: hidden;
  > .row, > form{
    background: $white;
    padding-right: 15px;
    padding-left: 15px;
  }
  form{
    margin-top: 2px;
    padding-bottom: 1px;
    .apply-review{
      border-#{$left}-width: 0 !important;
      padding: 20px 0 5px;
    }
  }

}
.users-review{
  margin-bottom: 0;
  > li{
    background: $white;
    margin-top: 2px;
    padding: 15px;
    &:first-child{
      margin-top: 20px;
    }
  }
  .user-img{
    width: 45px;
    height: 45px;
    border-radius: $border-radius-base;
    background: $dark-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img{
      width: 100%;
      min-height: 45px;
    }
    .default{
      width: 20px;
    }
  }
  .media-body{
    padding-#{$left}: 10px;
    padding-top: 5px;
  }
  h5{
    @include font-size(17px);
    font-weight: 400;
    margin-bottom: 0;
  }
  p{
    @include font-size(13px);
    margin-bottom: 0;
  }
  .review-date{
    @include opacity(0.5);
  }
}
.totla-main{
  padding-top: 15px;
  padding-bottom: 15px;
  p{
    display: inline-block;
    margin-bottom: 0;
    margin-#{$left}: 5px;
    text-transform: capitalize;
  }
  .star{
    display: inline-flex;
    span{
      font-size: 21px !important;
      line-height: 14px;
      @include media-breakpoint-down(sm){
        margin-#{$right}: -2px;
      }
    }
  }
  .result{
    @include font-size(20px);
    color: $basic-gray;
  }
  .review-num{
    @include font-size(13px);
    color: $lighter-grey;
    span{
      margin-#{$right}: 3px;
    }
  }
}
.apply-review{
  @include font-size(15px);
  display: flex;
  border-#{$left}: 2px solid $light-gray;
  .icon-arrow-#{$right}{
    display: none;
  }
  @include media-breakpoint-down(sm){
    border-left-width: 0;
    border-top: 1px solid $light-gray;
    padding-top: 10px;
    padding-bottom: 10px;
    @include font-size(14px);
    .icon-arrow-#{$right}{
      display: inline-flex;
      margin-#{$left}: 5px;
    }
  };
  > div > div{
    display: inline-flex;
    margin-#{$left}: 5px;
    span{
      font-size: 28px !important;
      line-height: 21px;
      cursor: pointer !important;
      &:hover{
          color: #fabb12 !important;
      }
    }
  }
  &[aria-expanded="true"]{
    opacity: 0;
    visibility: hidden;
    @include media-breakpoint-down(sm){
      padding-top: 0;
      padding-bottom: 0;
      height: 0;
    }
  }
}
.write-review{
  padding: 15px;
  @extend .box-shadow;
  margin-bottom: 50px;
  @include border-radius-div();
  overflow: hidden;
  textarea{
    border-radius: $border-radius-base 0 0 $border-radius-base;
    @include font-size(16px);
    padding: 15px;
  }
  .group-buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
  .btn{
    height: 35px;
    @include font-size(16px);
    line-height: 14px;
  }
  .btn-secondary{
    border-top-#{$right}-radius: 0 !important;
    border-bottom-#{$right}-radius: 0 !important;
    margin-#{$right}: 5px;
  }
  .btn-primary{
    border-bottom-#{$left}-radius: 0 !important;
    border-bottom-#{$left}-radius: 0 !important;border-top-#{$right}-radius: 0 !important;
  }
}
.fav-mob{
  padding-top: 30px;
  padding-#{$right}: 0;
  .add-fav{
    margin: 0;
    height: 55px;
    width: 60px;
    border-top-#{$right}-radius: 0 !important;
    border-bottom-#{$right}-radius: 0 !important;
  }
}
