#product {
  .product-item_image {
    background: white;
    text-align: $right;
  }
  .btn-primary {
    text-align: $right;
    i {
      padding-left: 6px;
    }
  }
  .btn-wishlist {
    text-align: right;
  }
  .product-item_desc {
    @include font-size(35px);
    font-weight: 300;
    color: $dark-charcoal-grey;
  }
  .product-item_manufacturer {
    opacity: 0.8;
    font-family: Roboto;
    @include font-size(18px);
    color: $charcoal-grey-80;
    span:nth-child(1) {
      padding-right: 5px;
    }
    span:nth-child(2) {
      padding-right: 11px;
    }
  }
  .product-item_sales-price {
    span:first-child {
      @include font-size(39px);
      color: $dark-charcoal-grey;
    }
    span:nth-child(2) {
      padding-left: 6px;
      @include font-size(18px);
    }
  }
  .product-item_specs,
  .product-details-specs {
    margin-top: 29px;
    > span:first-child {
      @include font-size(18px);
      color: $basic-gray;
    }
    div {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      @include font-size(15px);
      .specs-key {
        flex: 50%;
        color: $charcoal-grey-80;
      }
      .specs-value {
        flex: 50%;
        color: $dark-charcoal-grey;
      }
    }
    .list-group-item {
      background: $white;
      z-index: 10;
    }
  }
  .col-3 {
    .btn-primary {
      margin-top: 16px;
      background: $white;
      color: $black;
    }
  }
  .product-review {
    display: flex;
    align-items: center;

    > span:last-child {
      padding-left: 6px;
      opacity: 0.8;
      @include font-size(18px);
      line-height: 0.94;
      color: $dark-80;
    }
  }
  .h-seperator {
    height: 1px;
    background-color: #dddfe2;
  }
  .product-item_buttons {
    padding-top: 30px;
    #number-picker {
      button,
      input {
        background: $white;
      }
    }
    .btn-primary {
      width: 100%;
      margin-left: 10px;
    }
  }
  .product-details {
    .border {
      border-radius: corner-values(20px 0 20px 20px);
    }
    h5 {
      opacity: 0.7;
      font-family: Roboto;
      @include font-size(15px);
      line-height: 1.53;
      color: $dark-70;
    }
    .product-details-specs {
      border-radius: corner-values(20px 0 0 0);
      div {
        display: block;
        li {
          display: flex;
        }
        li:nth-child(even) {
          background: #f9f9f9;
        }
        li:not(:first-child) {
          border-top: 0;
        }
      }
    }
  }
  h4 {
    font-family: Roboto;
    @include font-size(25px);
    color: $basic-gray;
    text-transform: capitalize;
  }
  > div > div > .row:nth-child(2) {
    margin-top: 99px;
  }
  .product-reviews {
    margin-top: 81px;
    margin-bottom: 102px;

    .average-rating-card {
      margin-bottom: 28px;
      border-radius: corner-values(20px 0 0 0);
      .average-rating {
        padding: side-values(24px 15px 13px 15px);
        .average-rating_count {
          opacity: 0.5;
          font-family: Roboto;
          @include font-size(13px);
          line-height: 1.13;
          color: $dark-50;
          text-transform: lowercase;
          padding-left: 6px;

          span:nth-child(2) {
            padding-left: 2px;
          }
        }
        .average-rating_header {
          display: inline-block;
          padding-bottom: 22px;
        }
        .average-rating_stars {
          padding-right: 6px;
          align-self: center;
        }
        .btn-link_parent {
          .btn-link {
            font-family: Roboto;
            @include font-size(15px);
            color: $black;
            font-weight: normal;
            @include medium-screen {
              padding-left: 20px;
            }
            span {
              padding-right: 5px;
            }
          }
          .sm-seperator {
            @extend .seperator;
            position: absolute;
            top: 0;
            height: 100%;
            width: 2px;
            background: $light-gray;
            @include small-screen {
              display: none;
            }
          }
          .h-seperator {
            @extend .h-seperator;
            position: absolute;
            left: 0;
            background: $light-gray;
            height: 2px;
          }
          form {
            padding-top: 21px;
            input {
              background: $light-gray;
              height: 60px;
              border-radius: corner-values(20px 0 0 20px);
              opacity: 0.8;
              font-family: Roboto;
              @include font-size(16px);
              font-weight: normal;
            }

            .form-control {
              border: 0;
            }

            .review-form_header {
              display: flex;
              align-items: center;

              > span {
                padding-right: 5px;
              }
            }
            .group-shadow-input {
              @extend .group-shadow-div;
              position: static;

              .group-buttons {
                text-align: $right;
                padding-top: 5px;
                padding-bottom: 13px;
                padding-right: 11px;
                button {
                  @include font-size(16px);
                  font-weight: normal;
                  line-height: normal;
                  text-transform: capitalize;
                }
                .btn-primary {
                  border-radius: corner-values(0 0 20px 0) !important;
                }
                .btn-secondary {
                  border-radius: corner-values(0 0 0 20px) !important;
                }
              }
            }
          }
        }
        .sm-block {
          display: flex;
          align-items: center;
          @include small-screen {
            display: block;
          }
        }
      }
    }
    .customers-reviews-card {
      background-color: inherit;
      .user-img {
        margin-#{$right}: 9px;
        display: inline-block;
        width: 45px;
        img {
          max-width: 100%;
          border-radius: 20px;
          background: $dark-gray;
          padding: side-values(14px 14px 13px 14px);
        }
      }
      .list-group {
        .list-group-item {
          border: inherit;
          padding: side-values(14px 22px 20px 21px);
          &:last-child {
            border-radius: corner-values(0 0 20px 20px);
          }
          &:not(:last-child) {
            border-bottom: 2px solid $light-gray;
            z-index: 10;
          }
        }
      }
    }
    .align-text {
      text-align: $right;
    }
  }
  .related-products {
    border-radius: corner-values(20px 0 9px 20px);
    margin-top: 35px;
    margin-bottom: 1018px;
    overflow: hidden;
    #title {
      .d-inline-flex {
        position: absolute;
      }
      padding: side-values(30px 50px 30px 20px);
      h1 {
        font-family: Roboto;
        @include font-size(30px);
        font-weight: normal;
        line-height: normal;
      }
    }
    .list-group {
      // max-height: 624px;
      // overflow: scroll;
      // overflow-x: hidden;
      // -webkit-overflow-scrolling: touch;
      .list-group-item {
        border: inherit;
        display: inherit;
        &:first-child {
          border-radius: inherit;
          border-top: 2px solid $light-gray;
        }
        &:not(:last-child) {
          border-bottom: 2px solid $light-gray;
          z-index: 10;
        }
      }
      .img-container {
        border: 1px solid $light-gray;
        border-radius: corner-values(20px 0 20px 20px);
        overflow: hidden;
        margin-right: 17px;
        img {
          width: 75px;
          height: 75px;
        }
      }
      .seperator {
        height: 10px;
        margin: 0 9px;
      }
    }
  }
}

#AddProduct {
  background: white;
  form {
    .vehicle-information {
      @extend .box-shadow;
      background: white;
      .form-group {
        .css-10nd86i {
          width: 200px;
          height: 55px;
          margin-left: 10px;
          border-radius: 0px;
          background-color: #f7f7f7;
          .select__control {
            margin-#{$left}: 20px;
          }
          .select-input {
            margin-#{$left}: 10px;
          }
        }
        .first-formGroup {
          .css-10nd86i {
            border-radius: side-values(20px 0px 0px 20px) !important;
            width: 160px;
            height: 55px;
            .select__placeholder {
              width: 81px;
            }
          }
        }
        display: inline-block;
      }
      .div-last-rounded {
        height: 72.6px;
        margin-bottom: 0px;
        .form-control {
          border-radius: 0 0 20px 0 !important;
          border: none;
          background: $light-gray;
          padding: inherit;
          padding-#{$left}: 13px;

          label,
          sub,
          br {
            display: none;
          }
        }
        input {
          margin-top: 17px;
          border-radius: inherit;
          height: 55px;
        }
      }
      .input-group-prepend {
        .ellipse {
          margin-top: 15px;
          opacity: 0.7;
        }
      }
      p {
        font-family: Roboto;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: $left;
        margin-#{$left}: 10px;
        margin-bottom: 0px;
      }
      span {
        opacity: 0.5;
      }
      select {
        border: none;
        width: 100%;
        background: none;
      }
      .select-make {
        width: 250px;
        height: 55px;
        border-radius: 0px;
      }
      .select-modal {
        width: 250px;
        height: 55px;
        border-radius: 0px;
      }
    }
    .item {
      .text-item {
        margin-top: 55px;
        .product-item_desc {
          height: 20px;
          font-family: Roboto;
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
        }
        .product-Name {
          height: 12px;
          font-family: Roboto;
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
        }
        .product-Number {
          height: 12px;
          font-family: Roboto;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.13;
          letter-spacing: normal;
          text-align: left;
          color: #272734;
        }
        .product-rate {
          display: inline-block;
          line-height: 12px;
        }
        .product-reviews {
          height: 10px;
          font-family: Roboto;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.31;
          letter-spacing: normal;
          text-align: left;
          color: #272734;
        }
        .product-price {
          height: 22px;
          font-family: Roboto;
          font-size: 30px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -3px;
          text-align: left;
        }
        .product-price-sr {
          height: 12px;
          font-family: Roboto;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
        }
        .product-quantity {
          height: 14px;
          opacity: 0.8;
          font-family: Roboto;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: left;
          color: rgba(39, 39, 52, 0.8);
        }
      }
      img {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-bottom: 30px;
      }
    }
    .btn-primary {
      background-color: $light-gray;
      border-radius: side-values(20px 0px 0px 20px) !important;
      height: 52px;
      color: black;
      span {
        font-family: Roboto;
        font-size: 20px;
        text-transform: none;
      }
    }
    .sale-price {
      border-radius: side-values(0px 0px 20px 0px) !important;
      height: 52px;
      font-family: Roboto;
      font-size: 30px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -3px;
      margin-left: 2px;

      sub {
        height: 12px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $dark-charcoal-grey;
      }
    }
    .btn-footer {
      margin-top: 30px;
      margin-bottom: 30px;
      .btn-primary {
        border-radius: side-values(0px 0px 0px 20px) !important;
        width: 207px;
        height: 55px;
        color: $black;
        font-size: 20px;
        text-transform: none;
      }
      .check-out {
        border-style: none;
        width: 163px;
        height: 55px;
        background: $brand-color;
        color: white;
        border-radius: side-values(0px 20px 20px 0px) !important;
        font-size: 20px;
        margin-#{$left}: 9px;
      }
      .group-shadow-input {
        @extend .group-shadow-div;
        height: 10px;
        transform: translate(-5%, 400%);
        right: 0;
        width: 30% !important;
      }
    }
  }
}

#AddProduct-mobile {
  background: $light-gray;
  padding-top: 36px;
  padding-bottom: 50px;
  .title {
    margin-bottom: 36px;
    span {
      border-bottom: 2px solid red;
    }
    i {
      font-size: 20px;
    }
    p {
      font-family: Roboto;
      font-size: 30px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 20px;
      letter-spacing: normal;
      text-align: $left;
    }
  }
  .vehicle-information {
    @extend .box-shadow;
    padding: 10px;
    background: white;
    p {
      font-family: Roboto;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: $left;
      margin-#{$left}: 10px;
    }
    .css-10nd86i {
      height: 55px;
      border-radius: 0px;
      background-color: #f7f7f7;
      margin-#{$right}: 10px;
    }
    .form-group {
      .first-formGroup {
        .css-10nd86i {
          border-radius: side-values(20px 0px 0px 0px) !important;
        }
      }
      .select__control {
        margin-#{$left}: 5px;
      }
      .select-input {
        margin-#{$left}: 10px;
      }
    }
    .div-last-rounded {
      .form-control {
        border: none;
        margin: 0px;
        padding-top: 0px;
        padding-#{$left}: 5px;
        input {
          height: 55px;
          background: $light-gray;
          border-radius: side-values(0px 0px 20px 20px) !important;
        }
      }
    }
    .input-group-prepend {
      .ellipse {
        margin-top: 15px;
      }
    }
  }
  .item {
    margin-top: 50px;
    .text-item {
      display: inline-block;
      .product-item_desc {
        height: 17px;
        font-family: Roboto;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $dark-charcoal-grey;
      }
      .product-Name {
        width: 71px;
        height: 12px;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #272734;
      }
      .product-review {
        height: 10px;
        font-family: Roboto;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: $left;
        color: #272734;
        margin-bottom: 17px;
      }
      .product-item_sales-price {
        font-family: Roboto;
        font-size: 30px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -2px;
        text-align: $left;
        color: #37363c;
        .SR {
          font-family: Roboto;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: $left;
        }
      }
      .product-quantity {
        height: 14px;
        opacity: 0.8;
        font-family: Roboto;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: $left;
        color: rgba(39, 39, 52, 0.8);
      }
    }
    img {
      width: 135px;
      height: 135px;
      mix-blend-mode: multiply;
    }
  }
  .subTotal {
    display: flex;
    div.sale-price {
      border-radius: side-values(0px 0px 20px 0px) !important;
      margin-#{$left}: 3px;
      width: 20%;
      span {
        letter-spacing: -2px;
        font-family: Roboto;
        font-size: 17px;
        text-align: $left;
      }
    }
    .btn-primary {
      background-color: $white;
      border-radius: side-values(20px 0px 0px 20px) !important;
      margin-top: 32px;
      height: 55px;
      color: $black;
      width: 80%;
      text-transform: none;
      span {
        font-family: Roboto;
        font-size: 17px;
        text-align: $left;
      }
    }
  }
  .btn-footer {
    display: flex;
    margin-top: 32px;
    .continue {
      border-radius: side-values(0px 0px 0px 20px) !important;
      width: 43%;
      height: 55px;
      color: $black;
      background: $white;
      border: none;
    }
    .check-out {
      border-style: none;
      width: 54%;
      height: 55px;
      background: $brand-color;
      color: white;
      border-radius: side-values(0px 20px 20px 0px) !important;
      margin-left: 10px;
    }
  }
}