#results-container {
  background-color: $light-gray;

  .filter-container {
    min-width: 15em;
    text-align: start;
    margin: 20px 0 0px 20px;

    .search-box {
      background-color: $light-gray;
      border: none;
      height: 35px;
      margin-bottom: 19px;
      @include boarder-left-radius(20px, 20px);
      @include boarder-right-radius(0, 20px);

      &::placeholder {
        font-family: 'q-parts-icons';
      }
    }

    .search-box-min-container {
      @include padding-right(0);
      .search-box-min {
        background-color: $light-gray;
        border: none;
        height: 35px;
        @include boarder-left-radius(20px, 20px);
      }
    }

    .search-box-max-container {
      @include padding-right(0);
      @include padding-left(6px);
      .search-box-min {
        background-color: $light-gray;
        border: none;
        height: 35px;
        @include boarder-left-radius(20px, 20px);
      }
    }

    .search-box-btn-container {
      @include padding-left(6px);
    }

    .search-box-max {
      background-color: $light-gray;
      border: none;
      height: 35px;
      @include margin-right(3px);
      @include boarder-right-radius(0, 20px);
    }

    .btn-primary {
      height: 35px;
      padding-top: 5px;
      width: 100%;
    }

    .filter-category {
      padding-top: 14px;
      border: none;
      border-radius: 0;

      &:not(:last-child) {
        margin-bottom: 2px;
      }
      p {
        font-weight: 500;
        @include font-size(18px);
      }
      .filter-body {
        border: none;
        .card-body {
          padding: 0;
        }
      }
      .dropdown-icon {
        padding-top: 4px;
      }
      &:first-child {
        border-radius: corner-values(20px 0 0 0);
      }
      &:last-child {
        border-radius: corner-values(0 0 20px 20px);
      }
    }
  }

  .products-container {
    @include padding-left(28px);
    width: 100%;
    .search-control-panel {
      @include padding-left(12px);
      margin-bottom: 26px;
    }
    .selected-filters-panel {
      margin-bottom: 21px;
    }

    .selected-compare-panel {
      margin-bottom: 30px;
    }

    .products-panel {
      @include padding-left(28px);
    }
  }
}
