.filter-col{
  @include text-left;
  @extend .col-lg-3;
  max-width: 300px;
  > .btn{
    @include font-size(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    i{
      @include font-size(23px);
      height: 23px;
    }
  }
}
.results-container {
  @extend .p-inner-sec;
  position: relative;
}
.filter{
  @extend .list-unstyled;
  @include border-radius-div;
  background: $white;

  > li{
    border-bottom: 2px solid $light-gray;
    padding: 0 15px 5px;
  }
  h5{
    font-weight: 500;
    @include font-size(18px);
    margin-bottom: 0;
    a{
      display: block;
      padding-top: 20px;
      padding-bottom: 15px;
      position: relative;
      span{
        position: absolute;
        #{$right}: 0;
        @include transition(all, 0.5s, ease);
        width: 13px;
        &:before{
          @include transition(all, 0.5s, ease);
          font-family: $icon-font-name !important;
          line-height: 1;
          content: "\e02e";
          @include font-size(14px);
          @include opacity(0);
          position: relative;
          top: -9px;
        }
      }
      &.collapsed{
        span{
          background: transparent;
          &:before{
            @include opacity(1);
          }
        }
      }
    }
    .minus{
      display: inline-block;
      top: 26px;
    }
  }
  .collapse{
    > :last-child{
      margin-bottom: 15px;
    }
  }
  .btn-gray{
    @include font-size(14px);
    line-height: 19px;
    margin-top: 10px;
    line-height: 14px;
    i{
      @include font-size(11px);
      &:before{
        top: 1px;
      }
    }
    .minus{
      top: -2px;
      position: relative;
    }
  }
  .rating{
    display: inline-block;
    position: relative;
    margin-#{$right}: 5px;
    top: 1px;
    span{
      font-size: 19px !important;
      line-height: 13px;
    }
  }
}

.filter-search{
  position: relative;
  margin-bottom: 15px;
  .form-control{
    background: $light-gray;
    @include border-radius-div;
    border-width: 0;
    height: 35px;
    padding-#{$left}: 35px !important;
    @include font-size(14px);
    &:focus{
      box-shadow: none;
    }
  }
  i{
    position: absolute;
    #{$left}: 13px;
    @include font-size(16px);
    @include opacity (0.5);
    top: 9px;
  }
}
.options-list{
  @extend .list-unstyled;
  li{
    margin-bottom: 10px;
    position: relative;
  }
}
.price-filter{
  .form-control{
    background: $light-gray;
    border: 0;
    height: 35px;
    &:focus{
      box-shadow: 0 0 0 1px rgba(237, 64, 54, 0.25);
    }
  }
  .col:first-child{
    padding-#{$right}: 0;
    .form-control{
      border-radius: corner-values($border-radius-base 0 0 $border-radius-base);

    }
  }
  .col:nth-child(2){
    .form-control{
      border-radius: corner-values(0 0 $border-radius-base 0);
    }
  }
  .col-auto{
    padding-#{$left}: 0;
  }
 .btn{
   height: 35px;
   padding-top: 4px;
 }
}
.search-result{
  @include transition(all, 0.5s, ease);
  @include border-radius-div;
  overflow: hidden;
  min-height: 300px
}
.total-result{
  background: $white;
  padding: 0 15px 0;
  h2{
    padding-top: 9px;
    padding-bottom: 13px;
    font-weight: 500;
    @include font-size(20px);
    display: inline-flex;
    align-self: center;
    margin-bottom: 0;
    span{
      position: relative;
      top: 5px;
      font-weight: 400;
      @include font-size(13px);
      margin-#{$left}: 5px;
    }
    @include media-breakpoint-down(md){
      display: flow-root;
      position: relative;
      span{
        display: none;
      }
    };
  }
  .side-bar-compnent-btn{
    display: inline-flex;
    height: 100%;
  }
  .filter-btn{
    background: transparent;
    @include font-size(26px);
    border-#{$left}: 1px solid $light-gray;
    border-radius: 0 !important;
    margin-#{$right}: -15px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    i{
      height: 24px;
      &:before{
        top: -2px;
      }
    }
  }
  .col-auto{
    @include media-breakpoint-down(md){
      display: flex;
    };

  }
}
.result-sort{
  display: inline-block;
  position: relative;
  top: 3px;
  padding-top: 9px;
  padding-bottom: 13px;
  .select__control{
    background: $light-gray;
    @include border-radius-div;
    padding: 4px 10px 5px;
    margin-#{$left}: 10px;
  }
  .select__single-value{
    @include font-size(15px);
    font-weight: 400;
  }
  .select__menu{
    top: calc(100% - 5px);
  }
  .select__menu-list{
    padding-top: 0;
    margin-top: 0;
  }
  .icon-sorting{
    @include font-size(26px);
    position: absolute;
    top: 50%;
    #{$left}: 50%;
    transform: translate(-50%, -50%);
    height: 26px;
    &:before{
      top: -1px;
    }
  }
  @include media-breakpoint-down(md){
    display: inline-flex;
    padding-top: 0;
    padding-bottom: 0;
    border-#{$left}: 1px solid $light-gray;
    top: 0;
    .select__single-value,
    .select__indicator{
      display: none;
    }
    .select__control{
      margin-#{$left}: 0;
      display: block;
      width: 100%;
      height: 100%;
      padding: 17px 18px;
      background: transparent;
    }
    .select__menu{
      left: auto !important;
      #{$right}: 0 !important;
    }
  };
}
.result-style{
  @extend .list-inline;
  display: inline-block;
  position: relative;
  top: 5px;
  li{
    @include opacity(0.3);
    &:hover,
    &.active{
      @include opacity(1);
    }
  }
  a{
    display: block;
    height: 25px
  }
  .icon-list{
    @include font-size(26px);
  }
  .icon-grid{
    @include font-size(22px);
    &:before{
      top: -2px;
    }
  }

}
.in-cart{
  position: absolute;
  bottom: 7px;
  #{$right}: 25px;
  @include transition(all, 0.5s, ease);
  @include opacity(0);
  .icon-cart{
    @include font-size(28px);
    @include opacity(0.3);
    height: 26px
  }
  .icon-plus{
    background: $white;
    color: $brand-color;
    @include font-size(10px);
    padding: 1px;
    position: absolute;
    #{$right}: -1px;
    border-radius: 100%;
    height: 10px;
    top: 2px;

    &:before{
      top: -3px;
    }
  }
}
.result-list{
  @include text-left;
  @extend .list-unstyled;
  margin-bottom: 0;
  @include margin-right(-10px);
  @include margin-left(-10px);
  > li{
    padding: 0 5px;
    margin-top: 10px;

    .card{
      display: flex;
      height: 100%;
      img{
        @include media-breakpoint-up(lg){
          min-height: 197px;
        };
      }
    }
    &:hover{
      .in-cart{
        @include opacity(1);
      }
      .card-title{
        text-decoration: underline;
      }
    }
  }
}
.more-result{
  margin-top: 40px;
  text-align: center;
  @include border-radius-div();
  display: inline-flex;
  li{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-#{$right}: 0 !important;
    @include font-size(15px);
    span{
      @include opacity(0.5);
      line-height: 17px;
      padding: 10px 5px;
    }
    a{
      padding: 10px 10px;
      @include font-size(20px);

      @include opacity(0.3);
      &:hover{
        @include opacity(1);

      }
      i{
        height: 20px;
        display: block;
      }
    }
    &.next{
      a{
      @include opacity(1);
      }
    }
    &.disabled{
      a{
        cursor: default;
        @include opacity(0.1);
      }
    }

  }
}
.filter-result{
  padding: 15px 15px 5px;
  width: 100%;
  @include text-left;
  ul{
    display: inline-block;
    margin-bottom: 0;
  }
  .icon-close{
    @include font-size(7px);
    color: $charcoal-grey-two-40;
    position: relative;
    top: -3px;
  }
  li{
    border:1px solid rgba(55, 54, 60, 0.3);
    padding: 5px 15px 5px 10px;
    text-transform: capitalize;
    @include font-size(14px);
    position: relative;
    &:first-child{
      border-radius: corner-values($border-radius-base 0 0 $border-radius-base);
    }
    &:last-child {
      border-radius: corner-values(0 0 $border-radius-base 0);
    }
    &:not(:last-child) {
      @include margin-right($list-inline-padding);
    }
    &:only-child{
      @include border-radius-div;
    }
    a{
      position: absolute;
      top: 0;
      #{$right}: 0;
      width: 11px;
      height: 100%;
      &:hover{
        i{
          color: $basic-gray;
        }
      }
    }
  }
  .btn{
    background: $dark-gray;
    @include font-size(14px);
    padding: 8px 15px;
    line-height: 16px;
    margin-#{$left}: 5px;
    &:hover{
      background: darken($dark-gray, 2%);
    }
  }
}
.tires-filte{
  h5{
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }
  form{
    padding-bottom: 15px;

    .d-table-row{
      &:first-child{
        label{
          border-top-#{$left}-radius: $border-radius-base;
        }
      }
      &:last-child{
        label{
          border-bottom-#{$left}-radius: $border-radius-base;
        }
        .select-main{
          border-bottom-#{$right}-radius: $border-radius-base;
        }
      }
    }
  }

  .select-main{
    position: relative;
    width: 60%;
    .select,
    .select__control{
      width: 100% !important;
    }
  }
  .d-table{
    width: 100%;
  }
  .d-table-row{
    height: 35px;
    label, .select-main{
      background: $light-gray;
      border-bottom: 5px solid $white;
      padding: 6px 15px;
      display: table-cell;
    }
    label{
      border-#{$right}: 1px solid $white;
      color: $charcoal-grey-80;
    }
  }
  .select__menu{
    margin-top: -1px !important;
  }
  .select__menu-list{
    border-top-#{$left}-radius: 0 !important;
    padding-top: 0;
    margin-top: 0;
  }
  .btn{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px 15px;
    justify-content: center;
    margin-top: 5px;
    &:hover{

    }
    i{
      height: 17px;
      @include font-size(17px);
      margin-#{$left}: 3px;
    }
  }
}
//filter-mobile
.side-filter{
  .close-sidebar{
    height: 100%;
    left: -44px;
  }
  header{
    background: $light-gray;
    margin-top: 2px;
    position: relative;
    .col, .col-auto{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
    }
    h3,h4{
      @include font-size(19px);
      font-weight: 400;
      text-align: center;
      margin-bottom: 0;
      span{
        display: block;
        @include opacity(0.6);
        @include font-size(13px);
      }
    }
    .btn{
      display: flex;
    }
    .btn.reset{
      background: transparent;
      @include font-size(20px);
      padding: 0 15px;
      display: flex;
      height: 100%;
      .icon-reset{
        @include font-size(21px);
        height: 21px;
      }
      .icon-arrow-left{
        @include font-size(24px);
        @include opacity(0.5);
        height: 23px;
      }
    }
    .btn-primary{
      @include font-size(17px);
      padding: 8px 12px 9px;
      line-height: 13px;
      margin-#{$right}: 15px;
    }
    .row > .col-auto:first-child{
      padding-#{$right}: 0;
    }
    .row > .col-auto:last-child{
      padding-#{$left}: 0;
    }
  }
  .filter{
    border-radius: 0;
    background: $white;
    > li{

      border-bottom-width: 0;
      padding-bottom: 0;
      margin-bottom: 0;

      > .row{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $light-gray;
        label,
        p{
          display: flex;
          align-items: center;
        }
      }
      label{
        margin-bottom: 0;
        @include font-size(15px);
      }
      p{
        margin-bottom: 0;
        justify-content: flex-end;
        @include font-size(14px);
        color: $charcoal-grey;
        .icon-arrow-right{
          @include font-size(18px);
          height: 18px;
          margin-#{$left}: 5px;
        }

      }
      .clear{
        width: 20px;
        height: 20px;
        background: $basic-gray;
        border-radius: 100%;
        text-align: center;
        margin-#{$left}: 5px;
        i{
          color: $white;
          @include font-size(9px);
          display: inline-block;
          height: 8px;
          margin-#{$left}: -1px;
        }
      }
      .value{
        padding-#{$right}: 35px;
      }
      &:last-child{
        > .row{
          border-bottom-width: 2px;
        }
      }
      &.have-child{
        cursor: pointer;
      }
    }
    .products-panel{
      .footer-button{
        display: flex;
        .btn-primary{
          display: flex;
          text-align: center;
          border-radius: corner-values(20px 0 20px 20px) !important;
          margin-bottom: 20px;
          display: block;
          span{
            line-height: 25px;
          }
          i{
            @include margin-right(5px);
            @include margin-left(5px);
          }
        }
        .btn-next{
          @include margin-left(10px);
          border-radius: corner-values(0 20px 20px 20px) !important;
          span{
            @include margin-left(20%);
          }
        }
        .hide-btn{
          display: none;
        }
      }
    }
  }
  aside > header,
  .filter > li > .row{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    @include opacity(1);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  &.moves-out{
    aside > header,
    .filter > li > .row{
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}
.filte-items{
  @include text-left;
  position: fixed;
  height: 100%;
  top: 0;
  #{$left}: 0;
  width: 100%;
  background: $white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  overflow-x: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);

  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;

  .col{
    justify-content: flex-start !important;
    padding-#{$left}: 0;
  }
  h4{
    text-align: left;
    margin-#{$left}: -5px;
  }
  > header + div{
    padding: 20px 15px;
  }
  &.is-hidden{
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.apply-filter{
  position: relative;
  position: -webkit-sticky;
  position: sticky;
}
.apply-filter{
  bottom: 0;
}
