.send-request {
  background-color: #f6f6f6;

  .sec-header{
    text-align: unset !important;
    h1 {
      @include text-capitalize;
      p {
        float: none;
      }
    }
  }
  .d-flex  {
    text-align: center;
  }

  img {
    margin-top: 74px;
    margin-bottom: 20px;
    width: 74px;
    height: 96px;
  }
  h5 {
    height: 48px;
    font-family: Roboto;
    @include font-size(18px);
    margin-bottom: 33px;
    span {
      display: block;
    }
  }
  .send-request_content{
    margin-bottom: 216px;
  }
  .btn-primary {
    border-radius: corner-values(0 $border-radius-base $border-radius-base 0) !important;
    i {
      &::before {
        top: 4px;
      }
    }
  }
  .btn-light {
    border-radius: corner-values(0 0 0 $border-radius-base) !important;
    @include margin-right(4px);
  }
}