.order-summery{
  @include border-radius-div;
  @include box-shadow;
  margin-bottom: 40px;
  @include media-breakpoint-down(md){
    margin-top: 40px;
  }
  > header{
    padding: 20px 20px 15px;
    background: $white;
    margin-bottom: 2px;
    h2{
      @include font-size(26px);
      margin-bottom: 2px;
      font-weight: 400;
    }
    span{
      @include font-size(13px);
      @include opacity(0.7);
    }
  }
  > ul{
    background: $white;
    margin: 0;
    padding: 0 20px;
    li{
      border-bottom: 1px solid $dark-gray;
      padding: 15px 0;
      line-height: 15px;
      label{
        @include font-size(13px);
        @include opacity(0.7);
        display: inline-block;
        text-transform: capitalize;
        margin-bottom: 0;
      }
      p{
        @include font-size(18px);
        float: #{$right};
        margin-bottom: 0;
        span{
          text-transform: uppercase;
          @include font-size(12px);
          margin-#{$left}: 2px;
        }
      }
      &:last-child{
        border-bottom-width: 0;
      }
    }
  }
  > .btn-primary{
    width: 100%;
    text-align: #{$right};
    text-transform: capitalize;
    @extend .mt-2;
    @include font-size(19px);
    line-height: 27px;
    border-top-#{$right}-radius: 0 !important;
    i{
      height: 23px;
      margin-#{$left}: 10px;
      &:before{
        @include font-size(23px);
        top: 2px;
      }
    }
    &:hover,
    &:focus{
      padding-#{$right}: 30px;
    }
  }
}
//move to check out oage
.chat-div{
  padding: 0 10px;
  img{
    max-width: 40px;
  }
  .media-body{
    P{
      @include font-size(13px);
      margin-top: 2px;
      span{
        @include font-size(14px);
        display: block;
      }
    }
  }
  &:hover{
    p{
      span{
        text-decoration: underline;
      }
    }
  }
}
// end moving
.banner-250{
  width: 250px;
  height: 250px;
  text-align: center;
  margin-top: 30px;
  background: $white;
  position: relative;
  p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.live-chat{
  background: $light-gray;
  @extend .position-fixed;
  bottom: 0;
  right: 50px;
  z-index: 999;
  width: 151px;
  border-radius: $border-radius-base $border-radius-base 0 0;
  @include transition(all, 0.3s, ease);
  @include nav-sm-media{
    width: 48px;
    background: transparent;
    right: 15px;
  }
  img{
    max-width: 48px;
    display: inline-block;
  }
  p{
    display: inline-block;
    @include font-size(12px);
    position: relative;
    margin-bottom: 0;
    top: 7px;
    @include nav-sm-media{
      display: none;
    };
    span{
      display: block;
    }
  }
}
.overflow-hidden,
.overflow-hidden-search{
  .live-chat{
    @include opacity(0);
  }
}
.product-options{
  margin-top: 15px;
  border-bottom: 1px solid $dark-gray;
  width: 100%;
  .d-table-cell{
      padding: 5px 10px;
      @include font-size(15px);
      border-top: 1px solid $dark-gray;
      @include media-breakpoint-down(xs){
        @include font-size(14px);

      };
      .icon-checked:before{
        color: $brand-color;
        top: 3px;
      }
      &:first-child{
        text-transform: capitalize;
        border-#{$right}: 1px solid $dark-gray;
        width: 30%;
        span{
          @include opacity(0.5);
        }
      }
    }
}
.products-brand{
  ul{
    margin-top: -15px;
    margin-bottom: 0;
    @include media-breakpoint-down(md){
      margin-top: -2px;
      margin-right: -2px;
      margin-left: -2px;
    }
  }
  h3{
    @include font-size(20px);
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 400;
    @include media-breakpoint-up(lg){
      @include font-size(25px);
    };
  }
  li{
    margin-top: 15px;
    @include media-breakpoint-down(md){
      padding: 0 2px;
      margin-top: 2px;
    };
  }
  a{
    display: block;
    padding: 10px 20px;
    background: $white;
    @include media-breakpoint-down(md){
      padding: 5px 10px;
    }
    &:hover{
      background: $light-gray;
    }
  }
}
.banner{
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  margin: 0 auto;
}
.banner-728{
  max-width: 728px;
  height: 90px;
  background: $white;
  text-align: center;
}
.div-style{
  @include border-radius-div();
  overflow: hidden;

}
