.btn {
  padding: 10px 15px;
  background: $light-gray;
  @extend .link-border-radius;
  text-transform: uppercase;
  @include transition(all, 0.5s, ease);
  cursor: pointer;
}

.btn-primary {
  @extend .btn;
  border-style: none;
  background: $brand-color;
  color: $white;
}

.footer-custom-btn {
  padding: 10px 15px;
  background: $light-gray;
  @extend .link-border-radius;
  text-transform: uppercase;
  @include transition(all, 0.5s, ease);
}
