.btn {
  padding: 10px 15px;
  @include link-border-radius;
  @include transition(all, 0.5s, ease);
  cursor: pointer;
  font-weight: 400;
  display: inline-block;
  border-width: 0;
  i {
    display: inline-block;
  }
}

.btn-primary {
  border-style: none;
  background: $brand-color;
  text-transform: uppercase;
  color: $white;
  &:hover,
  &:focus {
    background: darken($brand-color, 10%);
  }
}
.btn-gray {
  background: $light-gray;
  @include font-size(13px);
  text-transform: capitalize;
  &:hover {
    background: $dark-gray;
  }
}
.btn-gray-secondary {
  background: $dark-gray;
  &:hover {
    background: darken($dark-gray, 3%);
  }
}

.btn-secondary {
  border-style: none;
}

.btn-link {
  color: $charcoal-grey;
  border-style: none;
  background: none !important;
  text-transform: capitalize;
  padding: 0;
  background: $light-gray;
  &.selected {
    color: $basic-black;
    font-weight: 500;
  }

  &:focus,
  &.focus {
    border-color: transparent;
    box-shadow: none;
  }

  &:hover {
    color: $brand-color;
  }
}

.btn-facebook {
  background: $white;
  border-radius: side-values(0 0 0 20px) !important;
  &:hover,
  &:focus {
    background: none;
  }
}
.btn-google {
  background: $white;
  border-radius: side-values(0 0 20px 0) !important;
  height: 100%;
  img {
    width: 25px;
  }
  &:hover,
  &:focus {
    background: none;
  }
}

.delete-btn {
  @include transition(all, 0.5s, ease);
  @include opacity(0.6);
  &:hover,
  &:focus {
    color: $brand-color;
  }
  i {
    @include font-size(18px);
    height: 18px;
  }
  span {
    @include font-size(13px);
    position: relative;
    top: -2px;
    margin-#{$left}: 2px;
  }
}
