#customer-service {
    align-items: center;
    span {
        text-transform: capitalize;
        color: $basic-black;
        @include font-size(12px);
        line-height: 1.17;
      }

      .whatsapp {
        height: 45px;
      }

      > div {
        display: flex;
        flex-direction: column;
        cursor: pointer;
      }
}
