.modal-dialog {
  border-radius: side-values(20px 0 20px 20px) !important;
  // max-width: $max-container-popup;
  .modal-content {
    @include container-fluid;
    background: $light-gray;
    border-radius: inherit;
    .modal-header {
      border-bottom: 0;
      .modal-title {
        width: 100%
      }
    }
    .modal-body {
      padding: inherit;
    }
  }
}

.product-checkout_popup {
  .modal-content {
    background: white;
  }
  .sec-header{
    h1 {
      @include text-capitalize;
    }
  }
}
