.modal-dialog {
  border-radius: side-values(20px 0 20px 20px) !important;
  max-width: $max-container-popup;
  .modal-content {
    @extend .container-fluid;
    background: $light-gray;
    border-radius: inherit;
    .modal-header {
      border-bottom: 0;
      #title {
        h1 {
          font-family: Roboto;
          @include font-size(50px);
          font-weight: 300;
          color: $basic-gray;
          text-transform: capitalize;
        }
        .red-line {
          height: 1px;
        }
      }
    }
    .modal-body {
      padding: inherit;
    }
  }
}