.ui-dialog.ui-widget {
  .ui-dialog-titlebar {
    background: $light-gray;
    border-radius: inherit;

    .ui-dialog-titlebar-close {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
}
.ui-dialog {
  border-radius: side-values(20px 0 20px 20px) !important;
}
