#render-products {
  h1 {
    padding-bottom: 40px;
    @include font-size(25px);
    font-weight: 500;
    color: $dark-charcoal-grey;
    text-transform: capitalize;
  }
}
.related-pro{
  h3{
    @include font-size(25px);
    font-weight: 400;
    @extend .text-capitalize;
  }
}
