#render-file-input {
  .input-group-prepend {
    position: absolute;
    top: 50%;
    #{$right}: 13px;
    transform: translate(0%,-50%);
    z-index: 10;
    .ellipse {
      box-shadow: none;
      min-width: 43px;
      min-height: 43px;
      @include margin-right(10px);
    }

    button {
      background: none;
      color: inherit;
      border: none;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }
  }

  .RenderFileInput-image_input {
    display: none;
  }

  .RenderFileInput-img {
    width: 60px;
    height: 60px;
  }
  .upload-img {
    @include margin-left(4px);
    margin-top: 9px;
  }
}
