.css-10nd86i {
  @include font-size($bas-font-size);
  text-transform: capitalize;
  .select__control {
    border-style: none;
    background: none;
    box-shadow: none;
    cursor: pointer;

    .select__indicators {
      .select__indicator-separator {
        width: 0;
      }
    }
    .select__value-container {
      width: 50px;
    }
  }
  .select__menu {
    .select__menu-list {
      .select__option {
        color: $basic-black;
        text-align: $left;
        cursor: pointer;
      }
    }
  }
}
