.select-input {
  .input-icon {
    display: flex;
    position: absolute;
    #{$right}: 20px;
    bottom: 7px;
  }
  .icon-checked {
    top: 40%;
    @include font-size(15px);
  }
  .select {
    width: 100%;
    .select__control {
      width: 100%;
    }
  }
  .input-group {
    border-radius: inherit;
    height: 100%;
  }
}
