#motor-oil{
  background: $light-gray;
  margin-right: auto;
  margin-left: auto;
  .main-cat{
    margin-top: 0px;
  }
  .oil-img{
    padding-top: 40px;
    background: white;
    margin-bottom: 50px;
  }
  @media (min-width: 992px) {
    .main-cat a:first-child figure {
      border-radius: 20px 0 0 20px;
    }
  }
  header{
    padding-bottom: 20px;
    h1{
      font-family: Roboto;
      @include font-size(25px);
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: $left;
      color: #37363c;
    }
  }
  .popular-oil{
    padding-bottom: 40px;
    @media (min-width: 992px) {
      .main-cat a:first-child img {
        border-radius: 20px 0 0 20px;
      }
    }
    @media (min-width: 992px) {
      .main-cat a:last-child img {
        border-radius: 0 0 20px 0;
      }
    }
    img{
      width: 100%;
      height: 79px;
      margin-bottom: 20px;
      @include margin-right(10px);
    }
  }
  .poster{
    text-align: center;
    padding-bottom: 70px;
    img{
      width: 70%;
      height: 100px;
    }
  }
  .best-seller{
    header{
      padding-bottom: 0px;
      h1{
        margin: 0px;
      }
    }
    .products-sec{
      margin-top: 0px;
    }
  }
}
