.oil-image{
    @include small-screen{
      background: url(/img/oil-xs.jpg);
      height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
    }
  }

#oil-best-sellers{
    @include large-medium-screens{
        padding-top: 55px;
    }
    @include small-screen{
        margin-top: -90px;
    }
    .slick-initialized {
        margin-top: 56px;
    }
}

#oil-top-brands{
    .brand-container{
        padding-bottom: 17px;
    }
    > .row {
        margin-top: 56px;
    }
}

#oil-ads{
    padding-top: 10px;
    padding-bottom: 10px;
}


#oil-grades{

}


#motor-oil{
    @include large-medium-screens {
        background: url(/img/oil-lg.jpg);
        min-height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
      }

      color: $white;
      text-align: center;

      .oil-content{
        position: relative;
        @include large-medium-screens{
          top: 155px;
          bottom: 261px;
        }

        .oil-title{
            height: 34px;
        }

        @include small-screen{
            top: -160px;
            bottom: -160px;
          }

        h1 {
            @include large-medium-screens{
              @include font-size($title-font-size);
              margin-bottom: 40px;
            }

          }

        .subtitle-container{
            @include large-medium-screens{
                padding-top: 46px;
                padding-bottom: 14px;
                h2 {
                    text-transform: uppercase;
                    float: left;
                    @include font-size(20px);
                    margin-bottom:0;
                }
                p{
                    padding-left: 10px;
                    padding-top : 4px;
                    float:left;
                    vertical-align: bottom;
                    margin-bottom: 0;
                }
            }

            @include small-screen{
                background-color: #fff;
                @include boarder-left-radius(20px,0);
                margin-bottom: 5px;
                margin-top: 48px;
                height: 77px;

                h2 {
                    padding-top: 29px;
                    padding-left: 19px;
                    text-transform: uppercase;
                    float: left;
                    @include font-size(25px);
                    margin-bottom:0;
                    color: #222;
                }
                p{
                    display: none;
                }
            }
            
        }
        

        .oil-dropdown{
            .size-selection-container{
                @include small-screen{
                    @include box-shadow;
                    @include boarder-left-radius(0, 20px);
                    @include boarder-right-radius(0, 20px);
                    padding-bottom: 10px;
                    margin-bottom: 21px;
                }
            }

            .h-seperator {
                position: relative;
                left: 10px;
                height: 1px;
                }
            
            label{
                  display: none;
            }
            br{
                  display: none;
            }
            .viscosity-field-container{
                background-color:#fff;
                @include boarder-left-radius;
                max-height: 51px;

                .viscosity-field{
                    border: none;
                    width: 100%;
                }
            }
            
            .brand-field-container{
                background-color:#fff;
                #{$left}: 2px;
                max-height: 51px;
                @include boarder-right-radius(0, 20px);
                .brand-field{
                    width: 100%;
                    border:none;
                }
            }
            
            .btn-container{
                max-height: 51px;
                @include boarder-right-radius(0, 20px);
                .btn-primary{
                    width: 100%;
                }
                @include small-screen{
                    padding-left: 0;
                    padding-right: 0;
                }    
            }

        }
      }
}